<% feed_link = feed.private? ? FeedToken.feed_published_url_with_token(feed) : feed.published_url %>

<div class="col-12 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :feed_link, value: feed.published_url, disabled: true %>
    <%= form.label :feed_link %>
    <%= field_link feed_link %>
  </div>
</div>

<% unless feed.default? %>
  <div class="col-12 mb-4">
    <div class="form-floating input-group">
      <%= form.text_field :title %>
      <%= form.label :title %>
      <%= field_help_text t(".help.title") %>
    </div>
  </div>

  <div class="col-6 mb-4">
    <div class="form-floating input-group">
      <%= form.text_field :slug %>
      <%= form.label :slug %>
      <%= field_help_text t(".help.slug") %>
    </div>
  </div>
<% end %>

<div class="<%= feed.default? ? "col-12" : "col-6" %> mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :file_name %>
    <%= form.label :file_name %>
    <%= field_help_text t(".help.file_name") %>
  </div>
</div>

<div class="col-12 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :url %>
    <%= form.label :url %>
    <%= field_help_text t(".help.url") %>
  </div>
</div>

<div class="col-12 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :new_feed_url %>
    <%= form.label :new_feed_url %>
    <%= field_help_text t(".help.new_feed_url") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :enclosure_prefix %>
    <%= form.label :enclosure_prefix %>
    <%= field_help_text t(".help.enclosure_prefix") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.select :episode_offset_seconds, episode_offset_options, include_blank: true %>
    <%= form.label :episode_offset_seconds %>
    <%= field_help_text t(".help.episode_offset_seconds") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.number_field :display_episodes_count %>
    <%= form.label :display_episodes_count %>
    <%= field_help_text t(".help.display_episodes_count") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.number_field :display_full_episodes_count %>
    <%= form.label :display_full_episodes_count %>
    <%= field_help_text t(".help.display_full_episodes_count") %>
  </div>
</div>
