<% model = feed.new_record? ? [feed.podcast, feed] : feed %>
<% url = feed.new_record? ? podcast_feeds_path(feed.podcast) : podcast_feed_path(feed.podcast, feed) %>
<% method = feed.new_record? ? :post : :put %>
<% data = {controller: "unsaved disable", unsaved_changed_value: feed.changed?, unsaved_confirm_value: t(".confirm")} %>

<%= form_with(url: url, model: model, method: method, html: {autocomplete: "off"}, data: data) do |form| %>
  <div class="row my-4 mx-2" data-controller="feed-tokens" data-feed-tokens-unsaved-outlet="form">
    <div class="col-lg-8">
      <div class="row" data-controller="feed-link">
        <% if feed.default? %>
          <%= render "form_main", podcast: podcast, feed: feed, form: form %>
          <%= render "form_audio_format", podcast: podcast, feed: feed, form: form %>
        <% elsif apple_feed?(feed) %>
          <%= render "form_apple_config", podcast: podcast, feed: feed, form: form %>
          <%= render "form_ad_zones", podcast: podcast, feed: feed, form: form %>
        <% else %> <%# custom feeds %>
          <%= render "form_main", podcast: podcast, feed: feed, form: form %>
          <%= render "form_auth", podcast: podcast, feed: feed, form: form %>
          <%= render "form_audio_format", podcast: podcast, feed: feed, form: form %>
          <%= render "form_ad_zones", podcast: podcast, feed: feed, form: form %>
          <%= render "form_overrides", podcast: podcast, feed: feed, form: form %>
          <%= render "form_itunes_image", podcast: podcast, feed: feed, form: form %>
          <%= render "form_feed_image", podcast: podcast, feed: feed, form: form %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 d-grid align-content-start gap-3">
      <div class="sticky-lg-top">
        <%= render "form_status", podcast: podcast, feed: feed, form: form %>
        <% unless apple_feed?(feed) %>
          <%= render "form_distribution", podcast: podcast, feed: feed, form: form %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render "confirm_destroy", podcast: podcast, feed: feed %>

  <%= render "layouts/stale_record_modal", form: form, discard_path: podcast_feed_path(podcast, feed) if feed.persisted? %>
<% end %>
