<div class="col-12 mb-4">
  <div class="card shadow border-0">
    <div class="card-header card-header-light d-flex justify-content-between">
      <h2 class="card-title h5"><%= t(".title") %></h2>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="form-floating input-group">
            <%= form.text_field :subtitle %>
            <%= form.label :subtitle %>
            <%= field_help_text t(".help.subtitle") %>
          </div>
        </div>

        <div class="col-12 mb-4">
          <div class="form-floating input-group">
            <%= form.trix_editor :description %>
            <%= form.label :description %>
            <%= field_help_text t(".help.description") %>
          </div>
        </div>

        <div class="container" data-controller="nested-select" data-nested-select-opts-value="<%= feed.itunes_category_map.to_json %>">
          <div class="row">
            <div class="col-6 mb-4">
              <div class="form-floating input-group">
                <% opts = feed.itunes_category_options %>
                <% data = {action: "nested-select#change"} %>
                <%= form.select :itunes_category, opts, {include_blank: true}, multiple: true, data: data %>
                <%= form.label :itunes_category %>
              </div>
            </div>

            <div class="col-6 mb-4">
              <div class="form-floating input-group">
                <% opts = feed.itunes_subcategory_options %>
                <% data = {nested_select_target: "select"} %>
                <%= form.select :itunes_subcategory, opts, {include_blank: true}, multiple: true, data: data %>
                <%= form.label :itunes_subcategory %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4">
          <div class="form-check">
            <%= form.check_box :include_donation_url %>
            <div class="d-flex align-items-center">
              <%= form.label :include_donation_url %>
              <%= help_text t(".help.include_donation_url") %>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4">
          <div class="form-check">
            <%= form.check_box :include_podcast_value %>
            <div class="d-flex align-items-center">
              <%= form.label :include_podcast_value %>
              <%= help_text t(".help.podcast_value") %>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4">
          <div class="form-check">
            <%= form.check_box :unique_guids %>
            <div class="d-flex align-items-center">
              <%= form.label :unique_guids %>
              <%= help_text t(".help.unique_guids") %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
