<% if feed.default? %>
  <div class="col-6 mb-4">
    <div class="form-floating input-group">
      <%= form.text_field :title, value: "Default Feed", disabled: true %>
      <%= form.label :title %>
    </div>
  </div>
<% else %>
  <div class="col-12 mb-4">
    <div class="form-floating input-group">
      <%= form.text_field :title %>
      <%= form.label :title, required: true %>
      <%= field_help_text t(".help.title") %>
    </div>
  </div>

  <div class="col-6 mb-4">
    <div class="form-floating input-group">
      <% data = {action: "keyup->feed-link#updateSlug", confirm_with: t(".confirm.slug")} %>
      <% data[:confirm_field_target] = "field" if feed.persisted? %>
      <%= form.text_field :slug, data: data %>
      <%= form.label :slug, required: true %>
      <%= field_help_text t(".help.slug") %>
    </div>

    <div class="form-text">
      <a href="<%= feed.published_url(false) %>" target="_blank" class="d-none" data-feed-link-target="link"><%= feed.published_url(false) %></a>
    </div>
  </div>
<% end %>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <% data = {action: "keyup->feed-link#updateFileName", confirm_with: t(".confirm.file_name")} %>
    <% data[:confirm_field_target] = "field" if feed.persisted? %>
    <%= form.text_field :file_name, data: data %>
    <%= form.label :file_name, required: true %>
    <%= field_help_text t(".help.file_name") %>
  </div>

  <div class="form-text">
    <a href="<%= feed.published_url(false) %>" target="_blank" class="d-none" data-feed-link-target="link"><%= feed.published_url(false) %></a>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :enclosure_prefix %>
    <%= form.label :enclosure_prefix %>
    <%= field_help_text t(".help.enclosure_prefix") %>
  </div>
</div>

<% unless feed.default? %>
  <div class="col-6 mb-4">
    <div class="form-floating input-group">
      <%= form.select :episode_offset_seconds, episode_offset_options, include_blank: true %>
      <%= form.label :episode_offset_seconds %>
      <%= field_help_text t(".help.episode_offset_seconds") %>
    </div>
  </div>
<% end %>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.number_field :display_episodes_count %>
    <%= form.label :display_episodes_count %>
    <%= field_help_text t(".help.display_episodes_count") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.number_field :display_full_episodes_count %>
    <%= form.label :display_full_episodes_count %>
    <%= field_help_text t(".help.display_full_episodes_count") %>
  </div>
</div>

<div class="col-12 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :footer %>
    <%= form.label :footer %>
    <%= field_help_text t(".help.footer") %>
  </div>
</div>
