<div class="col-12 mb-4 prx-field-group">
  <div class="form-floating">
    <%= form.text_field :feed_link, value: feed.published_url, disabled: true %>
    <%= form.label :feed_link %>
  </div>

  <%= link_to(feed.published_url, class: "prx-btn-help", target: :_blank) do %>
    <span class="material-icons">link</span>
  <% end %>
</div>

<div class="col-12 mb-4 prx-field-group">
  <div class="form-floating">
    <%= form.text_field :file_name %>
    <%= form.label :file_name %>
  </div>

  <button type="button" class="prx-btn-help" data-bs-toggle="popover" data-bs-content="<%= t(".help.file_name") %>"><span class="material-icons">help</span></button>
</div>

<% unless feed.default? %>
  <%= render "form_custom_fields", feed: feed, form: form %>
<% end %>

<div class="col-12 mb-4 prx-field-group">
  <div class="form-floating">
    <%= form.text_field :url %>
    <%= form.label :url %>
  </div>

  <button type="button" class="prx-btn-help" data-bs-toggle="popover" data-bs-content="<%= t(".help.url") %>"><span class="material-icons">help</span></button>
</div>

<div class="col-12 mb-4 prx-field-group">
  <div class="form-floating">
    <%= form.text_field :new_feed_url %>
    <%= form.label :new_feed_url %>
  </div>

  <button type="button" class="prx-btn-help" data-bs-toggle="popover" data-bs-content="<%= t(".help.new_feed_url") %>"><span class="material-icons">help</span></button>
</div>

<div class="col-12 mb-4 prx-field-group">
  <div class="form-floating">
    <%= form.text_field :enclosure_prefix %>
    <%= form.label :enclosure_prefix %>
  </div>

  <button type="button" class="prx-btn-help" data-bs-toggle="popover" data-bs-content="<%= t(".help.enclosure_prefix") %>"><span class="material-icons">help</span></button>
</div>

<div class="col-12 mb-4 prx-field-group">
  <div class="form-floating">
    <%= form.number_field :display_episodes_count %>
    <%= form.label :display_episodes_count %>
  </div>

  <button type="button" class="prx-btn-help" data-bs-toggle="popover" data-bs-content="<%= t(".help.display_episodes_count") %>"><span class="material-icons">help</span></button>
</div>

<div class="col-12 mb-4 prx-field-group">
  <div class="form-floating">
    <%= form.number_field :display_full_episodes_count %>
    <%= form.label :display_full_episodes_count %>
  </div>

  <button type="button" class="prx-btn-help" data-bs-toggle="popover" data-bs-content="<%= t(".help.display_full_episodes_count") %>" data-bs-html="true"><span class="material-icons">help</span></button>
</div>

<div class="col-12 mb-4 prx-field-group">
  <div class="form-floating">
    <%= form.select :episode_offset_seconds, episode_offset_options, include_blank: true %>
    <%= form.label :episode_offset_seconds %>
  </div>

  <button type="button" class="prx-btn-help" data-bs-toggle="popover" data-bs-content="<%= t(".help.episode_offset_seconds") %>"><span class="material-icons">help</span></button>
</div>

<div class="col-12 mb-4">
  <hr>
  <h3><%= t(".headers.audio_format") %></h3>
  <p><%= t(".help.audio_format") %></p>

  <div class="row my-4">
    <div class="col-3">
      <div class="form-floating">
        <%= form.select :audio_format, audio_format_options %>
        <%= form.label :audio_format %>
      </div>
    </div>

    <div class="col-3">
      <div class="form-floating">
        <%= form.select :audio_format, audio_bitrate_options %>
        <%= form.label :audio_format %>
      </div>
    </div>

    <div class="col-3">
      <div class="form-floating">
        <%= form.select :audio_format, audio_channel_options %>
        <%= form.label :audio_format %>
      </div>
    </div>

    <div class="col-3">
      <div class="form-floating">
        <%= form.select :audio_format, audio_sample_options %>
        <%= form.label :audio_format %>
      </div>
    </div>
  </div>
</div>
