<div class="col-12 mb-4 <%= "d-none" if feed.public? %>" data-feed-tokens-target="showPrivate">
  <div class="card shadow border-0">
    <div class="card-header card-header-warning d-flex justify-content-between">
      <h5 class="card-title flex-grow-1"><%= t(".title") %></h5>
      <%= help_text t(".help.auth_tokens") %>
    </div>

    <div class="card-body">
      <div class="row">
        <%= form.fields_for :feed_tokens do |fields| %>
          <%= render "form_auth_token", form: fields, token: fields.object %>
        <% end %>

        <template data-feed-tokens-target="template">
          <%= form.fields_for :feed_tokens, feed.tokens.new(token: "NEW_TOKEN"), child_index: "NEW_RECORD" do |fields| %>
            <%= render "form_auth_token", form: fields, token: fields.object %>
          <% end %>
        </template>

        <div class="col-12">
          <button type="button" class="btn btn-warning" data-action="feed-tokens#addToken">Add Token</button>
        </div>
      </div>
    </div>
  </div>
</div>
