<div class="col-12">
  <div class="mb-4">
    <div class="form-floating input-group">
      <%= form.text_field :slug %>
      <%= form.label :slug %>
      <a tabindex="0" class="input-group-text prx-help" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="<%= t(".help.slug") %>"><span class="material-icons">help</span></a>
    </div>
  </div>
</div>

<div class="col-12">
  <hr>
  <h3><%= t(".headers.overrides") %></h3>
  <p><%= t(".help.overrides") %></p>
  <div class="mb-4">
    <div class="form-floating">
      <%= form.text_field :title %>
      <%= form.label :title %>
    </div>
  </div>

  <div class="mb-4">
    <div class="form-floating">
      <%= form.text_field :subtitle %>
      <%= form.label :subtitle %>
      <a tabindex="0" class="input-group-text prx-help" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="<%= t(".help.subtitle") %>"><span class="material-icons">help</span></a>
    </div>
  </div>

  <div class="mb-4">
    <div class="form-floating input-group">
      <%= form.text_area :description %>
      <%= form.label :description %>
      <a tabindex="0" class="input-group-text prx-help" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="<%= t(".help.description") %>"><span class="material-icons">help</span></a>
    </div>
  </div>

  <div class="mb-4">
    <div class="form-floating input-group">
      <%= form.text_area :summary %>
      <%= form.label :summary %>
      <a tabindex="0" class="input-group-text prx-help" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="<%= t(".help.summary") %>"><span class="material-icons">help</span></a>
    </div>
  </div>
</div>

<div class="col-12" data-controller="toggle-field">
  <hr>
  <h3><%= t(".headers.private") %></h3>
  <div class="prx-field-group">
    <div>
      <%= form.check_box :private, data: {toggle_field_target: "check", action: "toggle-field#toggleDisplay"} %>
      <%= form.label :private %>
      <a tabindex="0" class="input-group-text prx-help" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="<%= t(".help.private") %>"><span class="material-icons">help</span></a>
    </div>
  </div>

  <div class="<%= display_auth_tokens(feed) %>" data-toggle-field-target="field">
    <hr>
    <h3><%= t(".headers.auth_tokens") %></h3>
    <p><%= t(".help.auth_tokens") %></p>
    <%= render "form_auth_tokens", feed: feed, form: form %>
  </div>
</div>

<div class="col-12">
  <hr>
  <h3><%= t(".headers.ad_zones") %></h3>
  <p><%= t(".help.ad_zones") %></p>

  <%= form.check_box :billboard, value: 0 %>
  <%= form.label :billboard, class: "me-2" %>

  <%= form.check_box :house, value: 0 %>
  <%= form.label :house, class: "me-2" %>

  <%= form.check_box :paid, value: 0 %>
  <%= form.label :paid, class: "me-2" %>

  <%= form.check_box :sonic_id, value: 0 %>
  <%= form.label :sonic_id, class: "me-2" %>

</div>

<div class="col-12">
  <hr>
</div>
