<div class="col-12 mb-4 prx-field-group">
  <div class="form-floating">
    <%= form.text_field :feed_link, value: feed.published_url, disabled: true %>
    <%= form.label :feed_link %>
  </div>

  <%= link_to(feed.published_url, class: "prx-btn-help", target: :_blank) do %>
    <span class="material-icons">link</span>
  <% end %>
</div>

<div class="col-12 mb-4">
  <div class="form-floating">
    <%= form.text_field :file_name %>
    <%= form.label :file_name %>
  </div>
</div>
