<% model = feed.new_record? ? [feed.podcast, feed] : feed %>
<% url = feed.new_record? ? podcast_feeds_path(feed.podcast) : podcast_feed_path(feed.podcast, feed) %>
<% method = feed.new_record? ? :post : :put %>

<%= form_with(url: url, model: model, method: method, html: {autocomplete: "off"}, data: {controller: "unsaved", unsaved_changed_value: feed.changed?}, unsaved_confirm_value: t(".confirm")) do |form| %>
  <div class="row mt-4">
    <div class="col-lg-8">
      <div class="row">
        <%= render "form_main", podcast: podcast, feed: feed, form: form %>
      </div>
    </div>
    <div class="col-lg-4 d-grid align-content-start gap-3">
      <div class="row">
        <div class="col-12">
          <%= render "form_status", podcast: podcast, feed: feed, form: form %>
        </div>
      </div>
      <% unless feed.default? && !feed.new_record? %>
        <div class="row">
          <div class="col-12">
            <%= render "form_image", podcast: podcast, feed: feed, form: form %>
          </div>
        </div>

        <% unless feed.new_record? %>
          <div class="row">
            <div class="col-12">
              <%= link_to t(".remove_feed"), podcast_feed_path(podcast, feed), method: :delete, data: {confirm: t(".remove_confirm")}, class: "btn btn-danger" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
