<div class="col-12 mb-4">
  <div class="card shadow border-0">
    <div class="card-header card-header-light d-flex justify-content-between">
      <h2 class="card-title h5 flex-grow-1"><%= t(".title") %></h2>
    </div>
    <div class="card-body" data-controller="apple-key">
      <div class="mb-4">
        <p><%= t(".description") %></p>
        <a href="https://help.prx.org/hc/en-us/articles/26602803552155-Setting-up-Apple-Podcast-Subscriptions-with-Apple-Delegated-Delivery"><%= t(".guide_link") %></a>
      </div>
      <%= form.fields_for :apple_config do |config_form| %>
        <%= config_form.fields_for :key do |key_fields| %>
          <% unless config_form.object.persisted? %>
            <%= key_fields.file_field :key_file, class: "mb-4 form-control", accept: ".p8, .pem", data: {action: "apple-key#convertFileToKey"} %>

            <%= key_fields.hidden_field :key_pem_b64, data: {apple_key_target: "pem"} %>
          <% end %>
          <div class="mb-4 form-floating">
            <%= key_fields.text_field :provider_id, disabled: true, data: {apple_key_target: "provider"} %>
            <%= key_fields.label :provider_id, "Provider ID" %>
          </div>
          <div class="form-floating">
            <%= key_fields.text_field :key_id, disabled: true, data: {apple_key_target: "key"} %>
            <%= key_fields.label :key_id, "Apple Key" %>
          </div>

          <%= key_fields.hidden_field :provider_id, data: {apple_key_target: "provider"} %>
          <%= key_fields.hidden_field :key_id, data: {apple_key_target: "key"} %>
        <% end %>
      <% end %>

      <%= form.hidden_field :type, value: "Feeds::AppleSubscription" %>

      <div class="col-6 mt-4">
        <div class="form-floating input-group">
          <%= form.number_field :display_episodes_count %>
          <%= form.label :display_episodes_count %>
          <%= field_help_text t(".help.display_episodes_count") %>
        </div>
      </div>
    </div>
  </div>
</div>
