<%= form.hidden_field :id %>
<div class="col-12 mb-4">
  <div class="form-floating input-group">
    <div class="text-secondary me-2 overflow-hidden text-truncate"><%= transcript.file_name %></div>

    <label><%= t("transcripts.label.transcript_file") %></label>

    <% if policy(transcript).destroy? %>
      <%= link_to delete_path, class: "prx-btn-help" do %>
        <span class="material-icons">delete</span>
      <% end %>
    <% end %>

    <button type="button" class="prx-btn-help" data-bs-toggle="modal" data-bs-target="#transcript-modal-<%= transcript.id %>">
      <span class="material-icons">info</span>
    </button>
  </div>
</div>

<%= render "transcripts/modal", transcript: transcript, id: "transcript-modal-#{transcript.id}", title: t("transcripts.title") %>
