<% content_for :title, "Fake Index Page" %>

<div class="fake-page">
  <div class="alert alert-danger mt-4" role="alert">
    this is fake! All of it!
  </div>

  <%= image_tag "prx_logo.svg", width: 100 %>

  <h2 data-controller="fake">Replace this text, stimulus!</h2>

  <p>Click <b><%= link_to "HERE", fake_path(123) %></b> to go to the show page</p>

  <div class="row mt-4 gy-sm-3">

    <div class="col-lg-8 d-grid gap-3">
      <section class="card shadow">
        <header class="card-header position-sticky top-0 d-flex justify-content-between align-items-center bg-white">
          <h2 class="card-title fs-5 fw-bold">Look a card</h2>
          <a href="#" class="btn btn-primary d-flex gap-1 align-items-center">Action <span class="material-icons" aria-label="hidden">keyboard_arrow_right</span></a>
        </header>
        <main class="card-body">
          <p class="card-text">Some card text.</p>
          <p>Click <b><%= link_to "HERE", fake_path(123) %></b> to go to the show page</p>
        </main>
        <footer class="card-footer">
          footer content
        </footer>
      </section>

      <section class="card shadow">
        <header class="card-header d-flex justify-content-between align-items-center">
          <h2 class="card-title fs-5 fw-bold">Look another card</h2>
          <a href="#" class="btn btn-icon"><span class="material-icons">delete</span></a>
        </header>
        <main class="card-body">
          <p class="card-text">Some card text.</p>
          <p>Click <b><%= link_to "HERE", fake_path(123) %></b> to go to the show page</p>
        </main>
        <footer class="card-footer d-flex justify-content-end">
          <a href="#" class="btn btn-success d-flex gap-1 align-items-center">Go <span class="material-icons" aria-label="hidden">keyboard_arrow_right</span></a>
        </footer>
      </section>
    </div>

    <div class="col-lg-4 d-grid gap-3">
      <section class="card shadow">
        <div class="card-header-info">
          <h5 class="card-title fw-bold">Card Title</h5>
        </div>
        <div class="card-body">
          <%= image_tag "fake-podcast.png", width: 135, class: "d-flex mx-auto mb-2" %>
          <p class="card-text fw-bold mb-0 text-black">Include in Feeds:</p>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Checked checkbox
            </label>
          </div>
        </div>
        <div class="card-footer">
          <p class="status-text"><strong>Last Saved</strong> <br>1/25/2023, 12:25pm</p>
          <div class="btn-group">
            <button type="button" class="btn btn-primary">Action</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split border-start border-color-white" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Duplicate</a></li>
              <li><a class="dropdown-item bg-danger text-white" href="#">Delete</a></li>
            </ul>
          </div>
        </div>
      </section>

      <div class="card shadow">
        <div class="card-header-success">
          <h5 class="card-title fw-bold">Look a card</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Some card text.</p>
        </div>
      </div>
    </div>

  </div>

  <!-- Example for the podcasts list-->
  <div class="row mt-4 mb-4">
    <section class="col-lg-12">
      <div class="dashboard-header">
        <div class="col d-flex align-items-center">
          <h1 class="text-black fw-bold me-4 mb-0">My Podcasts</h1>
          <div class="btn-group btn btn-light btn-sm dropdown-toggle">
            <button class="btn btn-outline-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sort <span class="material-icons" aria-hidden="true">sort</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item active" href="#">Recent Activity</a></li>
              <li><a class="dropdown-item" href="#"># of Episodes</a></li>
              <li><a class="dropdown-item" href="#">A-Z</a></li>
              <li><a class="dropdown-item" href="#">Z-A</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3  form-floating">
          <select class="form-select" data-action="blur->blank-field#blur" disabled="disabled" name="episode[itunes_type]" id="episode_itunes_type"><option value="" label=" "></option>
            <option selected="selected" value="full">Podcast Name</option>
            <option value="bonus">Podcast Name</option>
            <option value="invalid">Podcast Name</option></select>
          <label for="episode_itunes_type">Filter Podcasts</label>
        </div>
      </div>
      <div class="dashboard-list mb-4 shadow">
        <div class="prx-podcast | card">
          <div class="d-flex g-2 p-3 align-items-center">
            <div class="card-image">
              <%= image_tag "fake-podcast.png", width: 80 %>
            </div>
            <div class="card-body flex-grow-1 ">
              <h2 class="card-title">Podcast Name</h2>
              <p class="card-text m-0 lh-xs fs-sm">38 Published Episodes | 2 Scheduled | 68 Drafts.</p>
              <%= link_to "Go to Podcast", fake_path(123), class: "card-link" %>
            </div>
            <div class="card-footer d-grid g-1 lh-sm fs-sm text-end">
              <strong>Last Saved</strong>
              <datetime>1/25/2023, 12:25pm</datetime>
            </div>
          </div>
        </div>

        <div class="prx-podcast | card">
          <div class="d-flex g-2 p-3 align-items-center">
            <div class="card-image">
              <%= image_tag "fake-podcast.png", width: 80 %>
            </div>
            <div class="card-body flex-grow-1 ">
              <h2 class="card-title">Podcast Name</h2>
              <p class="card-text m-0 lh-xs fs-sm">38 Published Episodes | 2 Scheduled | 68 Drafts.</p>
              <%= link_to "Go to Podcast", fake_path(123), class: "card-link" %>
            </div>
            <div class="card-footer d-grid g-1 lh-sm fs-sm text-end">
              <strong>Last Saved</strong>
              <datetime>1/25/2023, 12:25pm</datetime>
            </div>
          </div>
        </div>

      </div>
    </section>

  </div>

  <!-- Example of Episode cards -->
  <div class="row my-4">
    <div class="dashboard-header">
      <div class="flex-grow-1 d-flex align-items-center">
        <h1 class="text-black fw-bold me-4 mb-0">Episodes</h1>
      </div>
      <div class="filter-group">
        <a href="#" class="btn btn-primary d-flex align-items-center">Create Episode <span class="material-icons ms-2" aria-hidden="true">mic</span></a>
        <a href="#" class="btn btn-primary d-flex align-items-center">Plan Episodes <span class="material-icons ms-2" aria-hidden="true">calendar_today</span></a>
        <div class="form-floating">
          <select class="form-select" data-action="blur->blank-field#blur" disabled="disabled" name="episode[itunes_type]" id="episode_itunes_type"><option value="" label=" "></option>
            <option selected="selected" value="full">Episode Name</option>
            <option value="bonus">Episode Name</option>
            <option value="invalid">Episode Name</option></select>
          <label for="episode_itunes_type">Filter Episodes</label>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="fw-bold">Draft and Scheduled Episodes</h3>
      <div class="card episode-card border-warning">
        <div class="card-body">
          <div class="episode-card-info">
            <p class="episode-card-date">1/30</p>
            <div>
              <h2 class="episode-card-title">Episode Name</h2>
              <p class="card-text text-small">Episode Description</p>
              <div>
                <span class="badge rounded-pill text-bg-light">Category</span>
                <span class="badge rounded-pill text-bg-light">Category</span>
              </div>
              <%= link_to "Go to Podcast", fake_path(123), class: "stretched-link" %>
            </div>
          </div>
        </div>
      </div>
      <div class="card episode-card border-success">
        <div class="card-body">
          <div class="episode-card-info">
            <p class="episode-card-date">2/2</p>
            <div>
              <h2 class="episode-card-title">February 2nd, 2013</h2>
              <%= link_to "Go to Podcast", fake_path(123), class: "stretched-link" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="fw-bold">Published Episodes</h3>
      <div class="card episode-card border-primary">
        <div class="card-body">
          <div class="episode-card-info">
            <p class="episode-card-date">12/12</p>
            <div>
              <h2 class="episode-card-title">Episode Name</h2>
              <p class="card-text text-small">Episode Description</p>
              <div>
                <span class="badge rounded-pill text-bg-light">Category</span>
                <span class="badge rounded-pill text-bg-light">Category</span>
              </div>
              <%= link_to "Go to Podcast", fake_path(123), class: "stretched-link" %>
            </div>
          </div>
        </div>
      </div>
      <div class="card episode-card border-primary">
        <div class="card-body">
          <div class="episode-card-info">
            <p class="episode-card-date">11/11</p>
            <div>
              <h2 class="episode-card-title">Episode Name that happens to be long enough to cause display issues</h2>
              <p class="card-text text-small">This is the episode description, which is also very long.</p>
              <%= link_to "Go to Podcast", fake_path(123), class: "stretched-link" %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
