<% content_for :title, "Fake ~Show~ Episode #{@episode.title}" %>

<% content_for :subnav do %>
  <a class="navbar-brand">content FOR THE SUBNAV</a>
<% end %>

<% content_for :tabs do %>
  <div class="list-group d-flex col">
    <%= tab_link_to "Hey", fake_path(123) %>
    <%= tab_link_to "Look", fake_path(456) %>
    <%= tab_link_to "Look", fake_path(7) %>
    <%= tab_link_to "ALERT", fake_path(8888) %>
    <%= tab_link_to "Pundit Error", fake_path(9999) %>
    <%= tab_link_to "Look", fake_path(10) %>
  </div>
  <a class="btn btn-secondary-link align-self-center flex-shrink-1" href="#">New Something Button</a>
<% end %>

<%= form_with(model: @episode, url: fake_index_path) do |form| %>

  <div class="row mt-4">

    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">On Fake = <%= @episode.title %></h5>
        </div>
        <div class="card-body row">

          <div class="col-xl-6 mb-4">
            <div class="form-floating">
              <%= form.text_field :title %>
              <%= form.label :title %>
            </div>
          </div>

          <div class="col-xl-6 mb-4">
            <div class="form-floating">
              <%= form.select :itunes_type, [["Full", "full"], ["Invalid", "invalid"]], include_blank: true %>
              <%= form.label :itunes_type %>
            </div>
          </div>

          <div class="col-xl-6 mb-4">
            <div class="form-floating">
              <%= form.select :categories, [["One", "one"], ["Two", "two"], ["Three", "three"]], {}, multiple: true %>
              <%= form.label :categories %>
            </div>
          </div>

          <div class="col-xl-6 mb-4">
            <div class="form-floating">
              <%= form.time_field :released_at %>
              <%= form.label :released_at %>
            </div>
          </div>

        </div>
        <div class="card-footer">
          <%= form.submit class: "btn btn-primary" %>
        </div>
      </div>

      <%= link_to "Back to index", fake_index_path %>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header bg-info">
          <h5 class="card-title">Card Title</h5>
        </div>
        <div class="card-body">
          <%= image_tag "prx_logo.svg", width: 135, class: "d-flex mx-auto mb-2" %>
          <p class="card-text fw-bold mb-0 text-black">Include in Feeds:</p>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Checked checkbox
            </label>
          </div>
        </div>
        <div class="card-footer">
          <p class="status-text"><strong>Last Saved</strong> <br>1/25/2023, 12:25pm</p>
          <div class="btn-group">
            <button type="button" class="btn btn-primary">Action</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split border-start border-color-white" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Duplicate</a></li>
              <li><a class="dropdown-item bg-danger text-white" href="#">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

<% end %>
