<div class="col-xl-6 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :url %>
    <%= form.label :url, required: true %>
    <%= field_help_text t(".help.url") %>
  </div>
</div>

<div class="col-xl-6 mb-4">
  <div class="form-floating input-group">
    <%= form.time_zone_field :time_zone %>
    <%= form.label :time_zone, required: true %>
    <%= field_help_text t(".help.time_zone") %>
  </div>
</div>
