<tr data-controller="person">
  <td data-person-target="name"><%= blank_dash(person.name) %></td>
  <td data-person-target="role"><%= blank_dash(person.role) { t("helpers.label.person.roles.#{person.role}") } %></td>
  <td data-person-target="organization"><%= blank_dash(person.organization) %></td>
  <td data-person-target="href"><%= blank_dash(person.href) { link_to(person.href, person.href, target: "_blank", rel: "noopener") } %></td>

  <td>
    <button type="button" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#person-modal-<%= form.index %>" data-person-target="edit">
      <span class="material-icons" aria-label="<%= t(".edit") %>">edit</span>
    </button>
    <%= render "people/form_people_modal", form: form, person: person %>
  </td>

  <td>
    <button type="button" class="btn text-danger" data-action="person#destroy">
      <span class="material-icons" aria-label="<%= t(".remove") %>">delete</span>
    </button>
  </td>
</tr>
