<%= turbo_frame_tag "episode-transcript-status", data: {controller: "morphdom"} do %>
  <% status = episode_transcript_status(episode) %>

  <%= tab_link_to episode_transcripts_path(episode), data: {controller: "active-link", turbo_frame: "_top"} do %>
    <%= t("episodes.tabs.transcript") %>
    <% unless status == "incomplete" %>
      <span class="badge rounded-pill prx-badge-<%= status %>">
        <%= t("helpers.label.episode.media_statuses.#{status.underscore}") %>
        <% if status == "processing" %><span class="spinner-border"></span><% end %>
      </span>
    <% end %>
  <% end %>

  <% if status == "processing" %>
    <%= link_to "", episode_transcript_status_path(episode), class: "d-none", data: {controller: "polling", polling_debounce_value: 3000} %>
  <% end %>
<% end %>
