<div class="col-12 mb-4">
  <div class="form-floating input-group">
    <div class="form-control d-flex align-items-center is-invalid">
      <span class="material-icons text-danger"><%= episode.medium_video? ? "video_file" : "audio_file" %></span>
      <div class="text-secondary mx-2 flex-grow-1 overflow-hidden text-truncate"><%= media.file_name %></div>

      <% if retryable %>
        <%= link_to episode_media_path(media.episode, uploads_retry_params(form)), method: :put, class: "btn btn-sm btn-warning" do %>
          <span class="material-icons">restart_alt</span> Retry
        <% end %>
      <% else %>
        <small class="text-muted">(<%= number_to_human_size(media.file_size) %>)</small>
      <% end %>
    </div>

    <% if policy(media).destroy? %>
      <%= link_to episode_media_path(media.episode, uploads_destroy_params(form)), class: "input-group-text prx-input-group-text" do %>
        <span class="material-icons text-danger">delete</span>
      <% end %>
    <% end %>

    <div class="invalid-feedback"><%= upload_invalid_messages(media) || t(".feedback") %></div>

    <label class="is-invalid"><%= episode_media_label(episode, media) %></label>
  </div>
</div>
