<div class="col-12 mb-4">
  <div class="form-floating input-group">
    <div class="form-control d-flex align-items-center">
      <div class="spinner-border text-primary ms-2" role="status">
        <span class="visually-hidden"><%= t(".hint") %>...</span>
      </div>

      <div class="mx-2 overflow-hidden text-truncate"><%= media.file_name %></div>
      <small class="text-muted flex-grow-1">(<%= t(".hint") %>)</small>

      <% if media.file_size.present? %>
        <small class="text-muted">(<%= number_to_human_size(media.file_size) %>)</small>
      <% end %>
      <% if upload_stalled?(media) %>
        <%= link_to episode_media_path(media.episode, uploads_retry_params(form)), method: :put, class: "btn btn-sm btn-warning ms-2" do %>
          <span class="material-icons">restart_alt</span> Retry
        <% end %>
      <% end %>
    </div>

    <% if policy(media).destroy? %>
      <%= link_to episode_media_path(media.episode, uploads_destroy_params(form)), class: "input-group-text prx-input-group-text" do %>
        <span class="material-icons text-danger">delete</span>
      <% end %>
    <% end %>

    <label><%= episode_media_label(episode, media) %></label>
  </div>

  <% if upload_stalled?(media) %>
    <small class="text-muted"><%= t(".still_processing") %></small>
  <% end %>

  <%# just keep polling until the file finishes processing %>
  <%= link_to "", request.fullpath, class: "d-none", data: {controller: "polling"} %>
</div>
