<%= turbo_frame_tag agents_path do %>
  <div class="row d-flex flex-wrap gx-4 h-100">
    <div class="col-6 metrics-chart"
      data-controller="apex-agents"
      data-apex-agents-id-value="<%= SecureRandom.uuid %>"
      data-apex-agents-agents-value="<%= agents.to_json %>"
      data-apex-agents-date-range-value="<%= date_range.to_json %>"
      data-apex-agents-interval-value="<%= interval %>"
      data-apex-agents-title-value="Over time">
      <div data-apex-agents-target="chart"></div>
    </div>
    <div class="col-6 align-items-center metrics-table">
      <table class="table table-sm table-striped shadow rounded">
        <thead class="table-primary">
          <tr>
            <td><%= t(".table_header.#{agents_path}") %></td>
            <td><%= t(".table_header.downloads") %></td>
            <td><%= t(".table_header.all_time") %></td>
          </tr>
        </thead>
        <tbody>
          <% agents.each_with_index do |agent, i| %>
            <tr class="align-items-center">
              <td class="d-flex align-items-center">
                <span class="material-icons me-2" aria-label="hidden" style="color: <%= agent[:color] %>">circle</span>
                <span class="text-nowrap overflow-hidden"><%= agent[:label] %></span>
              </td>
              <td><%= agent_downloads_with_percent(agent[:rollups], totals_in_range) %></td>
              <td><%= agent_downloads_with_percent(agent[:all_time], total_agents) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
