<%= turbo_frame_tag "episode_sparkline" do %>
  <% trend = parse_trend(episode_trend) %>

  <p class="d-flex align-items-center <%= trend[:color] if trend.present? %>">
    <span class="z-1"><%= trend[:percent] if trend.present? %></span>
    <span class="material-icons ms-1 z-1" aria-hidden="true"><%= trend[:direction] if trend.present? %></span>
  </p>
  <div class="position-absolute top-50 start-50 translate-middle w-100 h-100 z-0"
    data-controller="apex-sparkline"
    data-apex-sparkline-id-value="<%= episode.guid %>"
    data-apex-sparkline-downloads-value="<%= downloads.to_json %>">
    <div data-apex-sparkline-target="chart"></div>
  </div>
<% end %>
