<%= turbo_frame_tag "uniques" do %>
  <%= form_with(url: url, method: :get, id: form_id, data: {controller: "click", click_debounce_value: 200}) do |form| %>
    <div class="col metrics-chart"
      data-controller="apex-uniques"
      data-apex-uniques-id-value="<%= SecureRandom.uuid %>"
      data-apex-uniques-series-data-value="<%= uniques.to_json %>"
      data-apex-uniques-date-range-value="<%= date_range.to_json %>"
      data-apex-uniques-selection-value="<%= uniques_selection %>">
      <div data-apex-uniques-target="chart" data-chart="uniques"></div>
    </div>

    <%= form.date_field :date_start, class: "d-none", data: {apex_nav_target: "startDate", action: "change->click#submit"}, value: date_start %>
    <%= form.date_field :date_end, class: "d-none", data: {apex_nav_target: "endDate", action: "change->click#submit"}, value: date_end %>
    <%= form.select :interval, interval_options, {selected: interval}, class: "d-none", data: {apex_nav_target: "interval", action: "change->click#submit", path: "uniques"} %>
    <%= form.select :uniques_selection, uniques_selection_options, {selected: uniques_selection}, class: "d-none", data: {apex_nav_target: "uniques", action: "change->click#submit", path: "uniques"} %>
    <%= form.submit class: "d-none", data: {click_target: "submit"} %>
  <% end %>
<% end %>
