<%= turbo_frame_tag "agents_card" do %>
  <div class="card shadow border-0">
    <div class="card-header card-header-light d-flex justify-content-between">
      <ul class="col-6 nav nav-pills nav-justified card-header-pills">
        <li class="nav-item"><button class="nav-link" id="apps-tab" data-bs-toggle="tab" data-bs-target="#apps" type="button" role="tab" aria-controls="apps" aria-selected="false" data-action="apex-nav#displayCard" data-apex-nav-card-param="agents" data-apex-nav-tab-param="agent_apps" data-apex-nav-target="tab" data-card="agents" data-tab="agent_apps"><%= t(".tabs.apps") %></button></li>
        <li class="nav-item"><button class="nav-link" id="types-tab" data-bs-toggle="tab" data-bs-target="#types" type="button" role="tab" aria-controls="types" aria-selected="false" data-action="apex-nav#displayCard" data-apex-nav-card-param="agents" data-apex-nav-tab-param="agent_types" data-apex-nav-target="tab" data-card="agents" data-tab="agent_types"><%= t(".tabs.types") %></button></li>
        <li class="nav-item"><button class="nav-link" id="os-tab" data-bs-toggle="tab" data-bs-target="#os" type="button" role="tab" aria-controls="os" aria-selected="false" data-action="apex-nav#displayCard" data-apex-nav-card-param="agents" data-apex-nav-tab-param="agent_os" data-apex-nav-target="tab" data-card="agents" data-tab="agent_os"><%= t(".tabs.os") %></button></li>
      </ul>
    </div>
    <div class="card-body metrics-card-body">
      <%= turbo_frame_tag "agent_apps", src: agent_apps_podcast_metrics_path(podcast: podcast, date_start: date_start, date_end: date_end, interval: interval), data: {apex_nav_target: "card", card: "agents", tab: "agent_apps"}, class: "d-none", loading: "lazy" do %>
        <%= render "metrics/loading_card" %>
      <% end %>
      <%= turbo_frame_tag "agent_types", src: agent_types_podcast_metrics_path(podcast: podcast, date_start: date_start, date_end: date_end, interval: interval), data: {apex_nav_target: "card", card: "agents", tab: "agent_types"}, class: "d-none", loading: "lazy" do %>
        <%= render "metrics/loading_card" %>
      <% end %>
      <%= turbo_frame_tag "agent_os", src: agent_os_podcast_metrics_path(podcast: podcast, date_start: date_start, date_end: date_end, interval: interval), data: {apex_nav_target: "card", card: "agents", tab: "agent_os"}, class: "d-none", loading: "lazy" do %>
        <%= render "metrics/loading_card" %>
      <% end %>
    </div>
  </div>
<% end %>
