<%= turbo_frame_tag "downloads" do %>
  <div class="row d-flex flex-wrap gx-4"
    data-controller="apex"
    data-apex-id-value="<%= SecureRandom.uuid %>"
    data-apex-series-type-value="downloads"
    data-apex-interval-value="<%= interval %>"
    data-apex-series-data-value="<%= total_recent.to_json %>"
    data-apex-date-range-value="<%= date_range.to_json %>">
    <div class="col">
      <div data-apex-target="chart" data-chart="downloads"></div>
    </div>
  </div>
<% end %>
