<%= form_with(url: podcast_metrics_path(podcast: @podcast, date_start: @date_start, date_end: @date_end, interval: @interval), method: :get, id: "metrics") do |form| %>
  <div class="row d-flex gx-1">
    <div class="col form-floating input-group">
      <%= form.date_field :date_start, min: DateTime.now - 18.months, max: DateTime.now - 1.day, data: {apex_nav_target: "mainStart", action: "apex-nav#updateStartDate"}, value: date_start %>
      <%= form.label :date_start, "Start Date" %>
    </div>
    <div class="col form-floating input-group">
      <%= form.date_field :date_end, min: DateTime.now - 18.months, max: DateTime.now, data: {apex_nav_target: "mainEnd", action: "apex-nav#updateEndDate"}, value: date_end %>
      <%= form.label :date_end, "End Date" %>
    </div>
    <div class="col btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button" id="date-range-options" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        Date Presets
      </button>
      <ul class="dropdown-menu" aria-labelledby="date-range-options">
        <% date_range_options.each do |option| %>
          <li>
            <button class="dropdown-item" type="button" data-action="apex-nav#updateDates" value="<%= option[1].to_s %>">
              <%= option[0] %>
            </button>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
