<%= turbo_frame_tag geo_type.to_s, class: "col-6 mb-2" do %>
  <% id = "new_map" %>
  <div class="card shadow border-0">
    <div class="card-header card-header-primary-light d-flex">
      <h5><%= geo_type %></h5>
    </div>
    <div class="card-body">
      <div class="col-6">
        <div class="col metrics-chart"
          data-controller="apex-geos"
          data-apex-geos-id-value="<%= id %>"
          data-apex-geos-api-key-value="<%= ENV["GOOGLE_MAPS_API_KEY"] %>">
          <div id="<%= id %>"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
