<%= turbo_frame_tag "main_card" do %>
  <div class="card shadow border-0">
    <div class="card-header card-header-light d-flex justify-content-between">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item"><button class="nav-link active" id="downloads-tab" data-bs-toggle="tab" data-bs-target="#downloads" type="button" role="tab" aria-controls="downloads" aria-selected="true" data-action="apex-nav#changeTab" data-apex-nav-card-param="main" data-apex-nav-tab-param="downloads">Downloads</button></li>
        <li class="nav-item"><button class="nav-link" id="episodes-tab" data-bs-toggle="tab" data-bs-target="#episodes" type="button" role="tab" aria-controls="episodes" aria-selected="false" data-action="apex-nav#changeTab" data-apex-nav-tab-param="episodes">Episodes</button></li>
        <li class="nav-item"><button class="nav-link" id="uniques-tab" data-bs-toggle="tab" data-bs-target="#uniques" type="button" role="tab" aria-controls="uniques" aria-selected="false" data-action="apex-nav#changeTab" data-apex-nav-tab-param="uniques">Unique Listeners</button></li>
        <li class="nav-item"><button class="nav-link" id="dropdays-tab" data-bs-toggle="tab" data-bs-target="#dropdays" type="button" role="tab" aria-controls="dropdays" aria-selected="false" data-action="apex-nav#changeTab" data-apex-nav-tab-param="dropdays">Dropday Downloads</button></li>
      </ul>
      <div class="" data-apex-nav-target="tab" data-tab="downloads">
        <%= render "filter_interval", podcast: podcast, date_start: date_start, date_end: date_end, interval: interval, path: "downloads" %>
      </div>
      <div class="d-none" data-apex-nav-target="tab" data-tab="episodes">
        <%= render "filter_interval", podcast: podcast, date_start: date_start, date_end: date_end, interval: interval, path: "episodes" %>
      </div>
      <div class="d-none" data-apex-nav-target="tab" data-tab="uniques">
        <%= render "filter_uniques_range", podcast: podcast, date_start: date_start, date_end: date_end, path: "uniques" %>
      </div>
      <div class="d-none" data-apex-nav-target="tab" data-tab="dropdays">
        <%= render "filter_dropday_range", podcast: podcast, path: "dropdays" %>
      </div>
    </div>
    <div class="card-body">
      <%= turbo_frame_tag "downloads", src: downloads_podcast_metrics_path(podcast: podcast, date_start: date_start, date_end: date_end, interval: interval), loading: "lazy", data: {apex_nav_target: "tab", tab: "downloads"} %>
      <%= turbo_frame_tag "episodes", src: episodes_podcast_metrics_path(podcast: podcast, date_start: date_start, date_end: date_end, interval: interval), loading: "lazy", data: {apex_nav_target: "tab", tab: "episodes"}, class: "d-none" %>
      <%= turbo_frame_tag "uniques", src: uniques_podcast_metrics_path(podcast: podcast, date_start: date_start, date_end: date_end), loading: "lazy", data: {apex_nav_target: "tab", tab: "uniques"}, class: "d-none" %>
      <%= turbo_frame_tag "dropdays", src: dropdays_podcast_metrics_path(podcast: podcast), loading: "lazy", data: {apex_nav_target: "tab", tab: "dropdays"}, class: "d-none" %>
    </div>
  </div>
<% end %>
