<%= turbo_frame_tag "main_card" do %>
  <div class="card shadow border-0">
    <div class="card-header card-header-light d-flex justify-content-between">
      <ul class="col-8 nav nav-tabs nav-justified card-header-tabs">
        <li class="nav-item"><button class="nav-link" id="downloads-tab" type="button" role="tab" aria-controls="downloads" data-action="apex-nav#changeTab" data-apex-nav-card-param="main" data-apex-nav-tab-param="downloads" data-apex-nav-target="tab" data-card="main" data-tab="downloads"><%= t(".tabs.downloads") %></button></li>
        <li class="nav-item"><button class="nav-link" id="episodes-tab" type="button" role="tab" aria-controls="episodes" data-action="apex-nav#changeTab" data-apex-nav-card-param="main" data-apex-nav-tab-param="episodes" data-apex-nav-target="tab" data-card="main" data-tab="episodes"><%= t(".tabs.episodes") %></button></li>
        <li class="nav-item"><button class="nav-link" id="uniques-tab" type="button" role="tab" aria-controls="uniques" data-action="apex-nav#changeTab" data-apex-nav-card-param="main" data-apex-nav-tab-param="uniques" data-apex-nav-target="tab" data-card="main" data-tab="uniques"><%= t(".tabs.uniques") %></button></li>
        <li class="nav-item"><button class="nav-link" id="dropdays-tab" type="button" role="tab" aria-controls="dropdays" data-action="apex-nav#changeTab" data-apex-nav-card-param="main" data-apex-nav-tab-param="dropdays" data-apex-nav-target="tab" data-card="main" data-tab="dropdays"><%= t(".tabs.dropdays") %></button></li>
      </ul>
      <div class="col-2 d-none" data-apex-nav-target="card" data-card="main" data-tab="uniques">
        <div class="form-floating">
          <%= form.select :uniques_selection, uniques_selection_options, {selected: uniques_selection}, data: {action: "change->click#submit"}, class: "form-select form-select-sm" %>
          <%= form.label :uniques_selection, I18n.t(".helpers.label.metrics.uniques.uniques_selection") %>
        </div>
      </div>
      <div class="col-2 d-none" data-apex-nav-target="card" data-card="main" data-tab="dropdays">
        <div class="form-floating">
          <%= form.select :dropday_range, dropday_range_options, {selected: dropday_range}, data: {action: "change->click#submit"}, class: "form-select form-select-sm" %>
          <%= form.label :dropday_range, I18n.t(".helpers.label.metrics.dropdays.dropday_range") %>
        </div>
      </div>
    </div>
    <div class="card-body metrics-card-body">
      <%= turbo_frame_tag "downloads", src: downloads_podcast_metrics_path(podcast: podcast, date_preset: date_preset, date_start: date_start, date_end: date_end, interval: interval), data: {apex_nav_target: "card", card: "main", tab: "downloads"}, class: "d-none", loading: "lazy" do %>
        <%= render "metrics/loading_card" %>
      <% end %>
      <%= turbo_frame_tag "episodes", src: episodes_podcast_metrics_path(podcast: podcast, date_preset: date_preset, date_start: date_start, date_end: date_end, interval: interval), data: {apex_nav_target: "card", card: "main", tab: "episodes"}, class: "d-none", loading: "lazy" do %>
        <%= render "metrics/loading_card" %>
      <% end %>
      <%= turbo_frame_tag "uniques", src: uniques_podcast_metrics_path(podcast: podcast, date_preset: date_preset, date_start: date_start, date_end: date_end, uniques_selection: uniques_selection, interval: interval), data: {apex_nav_target: "card", card: "main", tab: "uniques"}, class: "d-none", loading: "lazy" do %>
        <%= render "metrics/loading_card" %>
      <% end %>
      <%= turbo_frame_tag "dropdays", src: dropdays_podcast_metrics_path(podcast: podcast, interval: interval, dropday_range: dropday_range), data: {apex_nav_target: "card", card: "main", tab: "dropdays"}, class: "d-none", loading: "lazy" do %>
        <%= render "metrics/loading_card" %>
      <% end %>
    </div>
  </div>
<% end %>
