<% if Rails.env.development? && clickhouse_connected? %>
  <% content_for :title, "#{@podcast.title} - #{t(".title")}" %>

  <div class="container col-12 my-2">
    <%= render "downloads_card", episodes: @episodes, episode_rollups: @episode_rollups, date_start: @date_start, date_end: @date_end, options: line_options, total_recent: @recent_downloads_total, total_alltime: @alltime_downloads_total %>
  </div>

  <div class="container col-12 mb-2">
    <div class="row gx-2">
      <div class="col-6 mb-2">
        <%= render "geo_card", geo_type: "Countries" %>
      </div>
      <div class="col-6 mb-2">
        <%= render "geo_card", geo_type: "Metros" %>
      </div>
      <div class="col-6 mb-2">
        <%= render "agent_card", agent: @agent_apps, agent_label: "App or Browser", chart: chart_options(type: "bar", height: "300", width: "100%"), series: series_options(parse_agent_data(@agent_apps)), options: bar_options, turbo_tag: "agent_apps" %>
      </div>
      <div class="col-6 mb-2">
        <%= render "agent_card", agent: @agent_types, agent_label: "Agent Type", chart: chart_options(type: "bar", height: "300", width: "100%"), series: series_options(parse_agent_data(@agent_types)), options: bar_options, turbo_tag: "agent_types" %>
      </div>
      <div class="col-6 mb-2">
        <%= render "agent_card", agent: @agent_os, agent_label: "Operating System", chart: chart_options(type: "bar", height: "300", width: "100%"), series: series_options(parse_agent_data(@agent_os)), options: bar_options, turbo_tag: "agent_os" %>
      </div>

    </div>
  </div>
<% end %>
