<% if Rails.env.development? && clickhouse_connected? %>
  <% content_for :title, "#{@podcast.title} - #{t(".title")}" %>

  <%= form_with(url: podcast_metrics_path(@podcast), method: :get, data: {controller: "click", click_debounce_value: 200}) do |form| %>
    <div class="container col-12 d-flex align-items-center justify-content-between my-4">
      <h1 class="fw-bold my-0 mb-0 me-4">Metrics at a Glance</h1>
      <div class="">
        <div class="d-flex justify-items-end">
          <div class="form-floating input-group me-2">
            <%= form.date_field :date_start, max: DateTime.now - 1.day, data: {action: "click#submit"}, value: @date_start %>
            <%= form.label :date_start, "Start Date" %>
          </div>
          <div class="form-floating input-group">
            <%= form.date_field :date_end, max: DateTime.now, data: {action: "click#submit"}, value: @date_end %>
            <%= form.label :date_end, "End Date" %>
          </div>
        </div>
      </div>
    </div>
    <div class="container col-12 my-4">
      <%= render "downloads_card", form: form, episodes: @episodes, episode_rollups: @episode_rollups, total_recent: @recent_downloads_total, total_alltime: @alltime_downloads_total, date_start: @date_start, date_end: @date_end, date_trunc: @date_trunc %>
    </div>

    <div class="container col-12 mb-2">
      <div class="col mb-4">
        <div class="row gx-2">
          <div class="col-6 mb-2">
            <%= render "geo_card", geo_type: "Countries" %>
          </div>
          <div class="col-6 mb-2">
            <%= render "geo_card", geo_type: "Metros" %>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="row gx-2">
          <div class="col-4 mb-2">
            <%= render "agent_card", agents: @agent_apps, agents_title: "App or Browser", turbo_tag: "agent_apps" %>
          </div>
          <div class="col-4 mb-2">
            <%= render "agent_card", agents: @agent_types, agents_title: "Agent Types", turbo_tag: "agent_types" %>
          </div>
          <div class="col-4 mb-2">
            <%= render "agent_card", agents: @agent_os, agents_title: "Operating System", turbo_tag: "agent_os" %>
          </div>
        </div>
      </div>
    </div>
    <%= form.submit class: "d-none", data: {click_target: "submit"} %>
  <% end %>
<% end %>
