<div class="col-12 mb-4">
  <div class="card shadow border-0">
    <div class="card-header card-header-light d-flex justify-content-between">
      <h2 class="card-title h5"><%= t(".title") %></h2>
    </div>

    <div class="card-body">
      <p><%= t(".description") %></p>

      <% if podcast.errors.messages[:podcast].present? %>
        <div class="alert alert-danger">
          <%= podcast.errors.messages[:podcast].join(", ") %>
        </div>
      <% end %>

      <%= form.fields_for :subscribe_links do |fields| %>
        <%= render "form_subscribe_link", form: fields %>
      <% end %>

      <% SubscribeLink::PLATFORMS.each do |platform| %>
        <template data-subscribe-links-target="template" data-platform="<%= platform %>">
          <%= form.fields_for :subscribe_links, podcast.subscribe_links.new(platform: platform, external_id: (podcast.public_url if SubscribeLink::FEED_PLATFORMS.include?(platform))), child_index: "NEW_RECORD" do |fields| %>
            <%= render "form_subscribe_link", form: fields %>
          <% end %>
        </template>
      <% end %>

      <% if policy(podcast).update? %>
        <div class="dropdown flex-grow-1">
          <button class="btn btn-primary prx-btn-icon dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t(".add") %>
          </button>
          <ul class="dropdown-menu">
            <% subscribe_link_options(podcast).each do |platform| %>
              <li>
                <button class="dropdown-item" type="button" data-action="subscribe-links#addLink" data-platform="<%= platform %>">
                  <%= t("helpers.label.podcast.subscribe_link.#{platform}") %>
                </button>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
