<div class="col-12 mb-3 d-flex gap-3 align-items-top">
  <div class="col-6 d-flex align-items-center">
    <div class="form-floating input-group flex-grow-1">
      <%= form.text_field :external_id %>
      <%= form.label :external_id, t(".ids.#{form.object.platform}") %>
      <%= field_help_text t(".help.#{form.object.platform}") %>
    </div>
  </div>
  <div class="col-6 d-flex align-items-center">
    <div class="form-check flex-grow-1">
      <%= form.check_box :enabled %>
      <div class="d-flex align-items-center">
        <%= form.label :enabled, "enabled" %>
        <span class="p-0 ms-1 material-icons">group</span>
      </div>
    </div>
  </div>
</div>
<%= form.hidden_field :type %>
<%= form.hidden_field :platform %>
