<div class="col-12 mb-3 d-flex align-items-top">
  <div class="col-6 d-flex align-items-center">
    <div class="form-check flex-grow-1">
      <%= form.check_box :enabled %>
      <div class="d-flex align-items-center">
        <%= form.label :enabled, subscribe_link_enabled_label(form.object) %>
        <div class="p-0 ms-2 d-flex align-items-center subscribe-icon">
          <%= render "podcast_engagement/subscribe_icons/#{form.object.icon}", width: "1.5em", height: "1.5em" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 d-flex align-items-center">
    <div class="form-floating input-group flex-grow-1">
      <%= form.text_field :external_id, disabled: form.object.uses_feed_url? && form.object.persisted? %>
      <%= form.label :external_id, subscribe_link_id_label(form.object) %>
      <%= field_help_text subscribe_link_help(form.object) %>
    </div>
  </div>
</div>

<%= form.hidden_field :platform %>
