<% content_for :title, @podcast.title.to_s %>

<%= render "podcasts/tabs" %>

<%= form_with(model: @podcast, url: podcast_engagement_path, html: {autocomplete: "off"}, data: {controller: "unsaved", unsaved_changed_value: @podcast.changed?, unsaved_confirm_value: t(".confirm")}) do |form| %>
<div class="row mt-4">
    <div class="col-8">
        <div class="form-floating input-group">
            <%= form.text_field :donation_url %>
            <label for="floatingInput"><%= t(".donation_link") %></label>
        </div>

            <hr style="height:.1rem background-color:black">

            <h3 aria-label="Micropayments"><%= t(".micropayments") %></h3>

            <div class="form-floating input-group">
                <%= form.text_field :payment_pointer %>
                <label for="floatingInput"><%= t(".payment_pointer") %></label>
                <span class="material-icons mx-auto justify-content-center col-1 border px-auto">link</span>
            </div>

        <div>
            <hr style="height:.1rem background-color:black">
            <h3 aria-label="Subscribe and Follow Links">Subscribe and Follow Links</h3>
            <h3 aria-label="Subscribe and Follow Links">Social Media Links</h3>
        </div>
    </div>

    <div class="col-lg-4">
    <section class="card">
        <div class="card-header-info">
            <h5 class="card-title fw-bold">Status</h5>
        </div>

        <div class="card-footer text-start">
            <strong><%= t(".last_saved") %></strong>
            <datetime><%= l(@podcast.updated_at) %></datetime>
            <div class="btn-group">
                <%= form.submit class: "btn btn-primary" %>
            </div>
        </div>
    </section>
    </div>

</div>
<% end %>
