<% content_for :title, t(".title", title: @podcast.title) %>

<%= render "podcasts/tabs" %>

<%= turbo_frame_tag "podcast-stream-hours", data: {morph: true} do %>
  <div class="row my-4 mx-2">
    <div class="col-12 mb-4">
      <div class="card shadow border-0">
        <div class="card-header card-header-primary d-flex justify-content-between">
          <h5 class="card-title flex-grow-1"><%= t(".card_title") %></h5>

          <%= link_to podcast_stream_hours_path(@podcast, end_date: @end_date - 1.month), class: "text-white ms-3" do %>
            <span class="material-icons">arrow_left</span><%= t(".previous") %>
          <% end %>

          <%= link_to podcast_stream_hours_path(@podcast, end_date: @end_date + 1.month), class: "text-white ms-3" do %>
            <%= t(".next") %><span class="material-icons">arrow_right</span>
          <% end %>
        </div>

        <div class="card-body pt-4 py-0">
          <div class="row">
            <% @months.each do |month| %>
              <%= render "month", podcast: @podcast, resource_counts: @resource_counts, month: month %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
