<div class="card">
  <div class="card-header-primary">
    <h5 class="card-title"><%= t(".header.preview") %></h5>
  </div>
  <%= turbo_frame_tag "preview", target: "_top" do %>
    <% if @planner.dates.present? %>
      <%= form_with(
            url: podcast_planner_path(@podcast),
            method: :put
          ) do |form| %>
          <div class="card-body">
            <div class="col mb-2">
              <h3 class="fw-bold"><%= t(".header.publish_time") %></h3>
              <div class="form-floating">
                <%= form.select :publish_time, time_options %>
                <%= form.label :publish_time %>
              </div>
            </div>

            <div class="col mb-2">
              <h3 class="fw-bold"><%= t(".header.audio_segments") %></h3>
              <div class="form-floating">
                <%= form.number_field :segment_count, {min: 1, max: 10, step: 1, value: 2} %>
                <%= form.label :segment_count %>
              </div>
            </div>

            <div class="col">
              <p><%= t(".header.number_of_drafts", count: @planner.dates.count) %></p>
              <ul class="list-group list-group-numbered">
                <% @planner.dates.each do |date| %>
                  <li class="list-group-item"><%= l(date, format: :day_and_date) %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="card-footer">
            <%= form.hidden_field :week_condition, value: @planner.week_condition %>
            <%= form.hidden_field :period, value: @planner.period %>
            <%= form.hidden_field :start_date, value: @planner.start_date %>
            <%= form.hidden_field :date_range_condition, value: @planner.date_range_condition %>
            <%= form.hidden_field :number_of_episodes, value: @planner.number_of_episodes %>
            <%= form.hidden_field :end_date, value: @planner.end_date %>

            <% @planner.selected_days.each do |day| %>
              <%= form.hidden_field :selected_days, multiple: true, value: day %>
            <% end %>
            <% @planner.monthly_weeks.each do |week| %>
              <%= form.hidden_field :monthly_weeks, multiple: true, value: week %>
            <% end %>
            <%= form.submit t(".label.submit"), class: "btn btn-primary" %>
          </div>
      <% end %>
    <% else %>
      <div class="card-body">
        <p><%= t(".help.preview") %></p>
      </div>
    <% end %>
  <% end %>
</div>
