<div class="card">
  <div class="card-header-primary">
    <h5 class="card-title"><%= t(".header.preview") %></h5>
  </div>
  <%= turbo_frame_tag "preview", target: "_top" do %>
    <% if @planner.dates.present? %>
      <%= form_with(
            url: podcast_planner_path(@podcast),
            method: :post
          ) do |form| %>
          <div class="card-body">
            <div class="mb-4">
              <div class="form-floating">
                <%= form.select :publish_time, time_options %>
                <%= form.label :publish_time %>
              </div>
            </div>

            <div class="mb-4">
              <div class="form-floating">
                <%= form.number_field :segment_count, {min: 1, max: 10, step: 1, value: 2} %>
                <%= form.label t(".header.segment_count") %>
                <button type="button" class="help-text" data-bs-toggle="popover" data-bs-content="<%= t(".header.help.segment_count") %>"><span class="material-icons">help</span></button>
              </div>
            </div>

            <div class="col">
              <p><%= t(".header.number_of_drafts", count: @planner.dates.count) %></p>
              <ul class="list-group list-group-numbered">
                <% @planner.dates.each do |date| %>
                  <li class="list-group-item"><%= l(date, format: :day_and_date) %></li>
                  <%= form.hidden_field :generated_dates, multiple: true, value: date %>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="card-footer">
            <%= form.submit t(".label.submit"), class: "btn btn-primary" %>
          </div>
      <% end %>
    <% else %>
      <div class="card-body">
        <p><%= t(".help.preview") %></p>
      </div>
    <% end %>
  <% end %>
</div>
