<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.select :medium, episode_medium_options, {}, data: {action: "planner#setMedium"} %>
    <%= form.label :medium, t("helpers.label.episode.medium") %>
    <%= field_help_text t(".help.medium") %>
  </div>
</div>

<div class="col-3 mb-4">
  <div class="form-floating input-group">
    <%= form.number_field :ad_breaks, min: 0, max: Episode::MAX_SEGMENT_COUNT - 1, data: {planner_target: "adBreaks", action: "planner#setAdBreaks"} %>
    <%= form.label :ad_breaks, t("helpers.label.episode.ad_breaks") %>
    <%= field_help_text t(".help.ad_breaks") %>
  </div>
</div>

<div class="col-3 mb-4">
  <div class="form-floating input-group">
    <%= form.select :publish_time, time_options %>
    <%= form.label :publish_time, t(".label.publish_time") %>
  </div>
</div>
