<%= form_with(
      url: podcast_planner_path(@podcast),
      method: :get,
      data: {
        controller: "click",
        "turbo-frame": "preview",
        "turbo-action": "replace"
      }
    ) do |form| %>
    <h1 class="text-black fw-bold d-flex flex-fill"><%= t(".header") %></h1>
    <p class="lh-sm"><%= t(".help_html", url: new_episode_path) %></p>

    <%= render "form_date_calculator", form: form %>

    <%= form.submit class: "d-none", data: {click_target: "submit"} %>
<% end %>
