<div class="col-4 mb-4">
  <div class="form-floating input-group">
    <%= form.select :medium, episode_medium_options, {}, data: {action: "planner#setMedium"} %>
    <%= form.label :medium, t("helpers.label.episode.medium"), required: true %>
    <%= field_help_text t(".help.medium") %>
  </div>
</div>

<div class="col-2 mb-4">
  <div class="form-floating input-group">
    <%= form.number_field :ad_breaks, min: 0, max: Episode::MAX_SEGMENT_COUNT - 1, data: {planner_target: "adBreaks", action: "planner#setAdBreaks"} %>
    <%= form.label :ad_breaks, t("helpers.label.episode.ad_breaks"), required: true %>
    <%= field_help_text t(".help.ad_breaks") %>
  </div>
</div>

<div class="col-2 mb-4">
  <div class="form-floating input-group">
    <%= form.select :publish_time, time_options, {selected: "12:00:00"} %>
    <%= form.label :publish_time, t(".label.publish_time"), required: true %>
  </div>
</div>

<div class="col-4 mb-4">
  <div class="form-floating input-group">
    <%= form.time_zone_field :publish_time_zone %>
    <%= form.label :publish_time_zone, t(".label.publish_time_zone"), required: true %>
  </div>
</div>

<div class="col-12 mb-4">
  <strong><%= t(".label.feed_ids") %>:</strong>

  <div class="container">
    <div class="row">
      <% feeds = @podcast.feeds.tab_order %>
      <% defaults = feeds.filter_map { |f| f.id if f.default? || f.apple? } %>
      <% data = {planner_target: "feedIds", action: "planner#setFeedIds"} %>

      <%= form.collection_check_boxes(:feed_ids, feeds, :id, :friendly_title, {checked: defaults}) do |b| %>
        <div class="form-check col-3 label-wrap">
          <%= b.check_box(class: "form-check-input", data: data) %>
          <%= b.label(class: "form-check-label") { b.text } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
