<div data-controller="toggle-field" class="mb-4">
  <h3 class="fw-bold">Week selection</h3>
  <p>
    Which weeks of each month do you plan to publish? Select all that apply.
  </p>

  <div class="mb-4">
    <p>Calculate the weeks by:</p>
    <div class="col-lg-4">
      <div class="form-floating">
        <%= form.toggle_field_select :week_condition, week_condition_options, params, class: "form-select form-select-sm" %>
        <%= form.label :week_condition %>
      </div>
    </div>
  </div>

  <div class="col-lg-4" data-toggle-field-target="field" field="periodic">
    <% recurring_weeks_options.each do |week| %>
      <div class="form-check form-check-inline">
        <%= form.check_box :date, class: "form-check-input", checked: false, data: {action: "date-selection#selectWeek", date_selection_week_param: week} %>
        <%= form.label week %>
      </div>
    <% end %>
  </div>
  <div class="col-lg-4 d-none" data-toggle-field-target="field" field="monthly">
    <% numbered_weeks_options.each do |week| %>
      <div class="form-check form-check-inline">
        <%= form.check_box :date, class: "form-check-input", checked: false, data: {action: "date-selection#selectWeek", date_selection_week_param: week} %>
        <%= form.label week %>
      </div>
    <% end %>
  </div>
</div>
