<%= form_with(
      url: podcast_planner_path(@podcast),
      method: :post
    ) do |form| %>
  <div class="mb-4">
    <h3 class="mb-3"><%= t(".header.publish_time") %></h3>
    <div class="col-lg-12">
      <div class="form-floating">
        <%= form.select :publish_time, time_options %>
        <%= form.label :publish_time %>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <h3 class="mb-3"><%= t(".header.audio_segments") %></h3>
    <div class="col-lg-12">
      <div class="form-floating">
        <%= form.number_field :segment_count, {min: 1, max: 10, step: 1, value: 2} %>
        <%= form.label :segment_count %>
      </div>
    </div>
  </div>

  <div class="card p-4 mt-4mb-4">
    <%= turbo_frame_tag "preview", target: "_top" do %>
      <div data-controller="pager count" data-pager-range-value="6">
        <div class="d-flex justify-content-between">
          <h3 class="mb-3"><%= t(".header.number_of_drafts") %>
            <span data-count-target="display"></span>
          </h3>
          <div class="mb-2">
            <%= button_tag type: "button", class: "btn btn-primary btn-sm", data: {action: "click->pager#pageBackward", pager_target: "prev"}, disabled: true do %>
              <span class="material-icons">arrow_left</span>
              Month
            <% end %>
            <%= button_tag type: "button", class: "btn btn-primary btn-sm", data: {action: "click->pager#pageForward", pager_target: "next"} do %>
              Month
              <span class="material-icons">arrow_right</span>
            <% end %>
          </div>
        </div>
          <div class="row">
            <% 24.times do |i| %>
              <%= render "calendar", form: form, start_date: Date.today.beginning_of_month + i.months, planner: @planner, index: i, range: 6 %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= form.submit t(".label.submit"), class: "btn btn-primary mb-4" %>
<% end %>
