<div class="card">
  <div class="card-header-primary">
    <h5 class="card-title">Schedule Preview</h5>
  </div>
  <%= turbo_frame_tag "preview" do %>
    <% if @planner.drafts.present? %>
      <%= form_with(
            url: podcast_planner_path(@podcast),
            method: :put
          ) do |form| %>
          <div class="card-body">
            <p><%= "Publish Time: #{l(@planner.publish_time, format: :time_12_hour)}" %></p>
            <p><%= "Number of Segments: #{@planner.segment_count}" %></p>
            <p><%= "Number of Drafts: #{@planner.drafts.count}" %></p>
            <ul class="list-group list-group-numbered">
              <% @planner.drafts.each do |draft| %>
                <li class="list-group-item"><%= draft[:title] %></li>
              <% end %>
            </ul>
          </div>
          <div class="card-footer">
            <%= form.submit "create drafts", class: "btn btn-primary" %>
          </div>
      <% end %>
    <% else %>
      <div class="card-body">
        <p>Select more options to get a schedule preview.</p>
      </div>
    <% end %>
  <% end %>
</div>
