<section>
  <div class="mb-4">
    <h2 class="fw-bold"><%= t(".header.date_calculation") %></h2>
    <p><%= t(".help.date_calculation") %></p>
  </div>

  <div class="mb-4">
    <h3 class="fw-bold"><%= t(".header.day_select") %></h3>
    <p><%= t(".help.day_select") %></p>
    <div class="col-lg-12">
      <div class="form-floating">
        <%= form.select :selected_days, day_options, {}, data: {action: "podcast-planner#preview"}, multiple: true %>
        <%= form.label :selected_days %>
      </div>
    </div>
  </div>

  <div class="mb-4" data-controller="toggle-field">
    <h3 class="fw-bold"><%= t(".header.week_select") %></h3>
    <p><%= t(".help.week_select") %></p>
    <div class="row">
      <div class="col-lg-6">
        <p><%= t(".help.calculate_weeks") %></p>
        <div class="form-floating">
          <%= form.toggle_field_select :week_condition, week_condition_options, params, data: {action: "podcast-planner#preview"} %>
          <%= form.label :week_condition %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="" data-toggle-field-target="field" field="monthly">
          <p><%= t(".help.select_weeks") %></p>
          <div class="form-floating">
            <%= form.select :monthly_weeks, monthly_weeks_options, {}, data: {action: "podcast-planner#preview"}, multiple: true %>
            <%= form.label t(".label.week_of_month") %>
          </div>
        </div>
        <div class="d-none" data-toggle-field-target="field" field="periodic">
          <p><%= t(".help.select_period") %></p>
          <div class="form-floating">
            <%= form.select :period, periodic_weeks_options, {}, data: {action: "podcast-planner#preview"} %>
            <%= form.label :period %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4" data-controller="toggle-field">
    <h3 class="fw-bold"><%= t(".header.range_select") %></h3>
    <p><%= t(".help.range_select") %></p>
    <div class="row mb-4">
      <div class="col-lg-6">
        <p><%= t(".help.calculate_range") %></p>
        <div>
          <div class="form-floating">
            <%= form.toggle_field_select :date_range_condition, end_condition_options, params, data: {action: "podcast-planner#preview"} %>
            <%= form.label :date_range_condition %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <p><%= t(".help.select_range") %></p>
          <div class="form-floating mb-2">
            <%= form.date_field :start_date, min: DateTime.tomorrow, max: DateTime.tomorrow + 6.months, value: DateTime.tomorrow, data: {action: "podcast-planner#preview"} %>
            <%= form.label :start_date %>
          </div>

        <div data-toggle-field-target="field" field="episodes">
          <div class="form-floating">
            <%= form.number_field :number_of_episodes, {min: 1, max: 100, step: 1, value: 10, data: {action: "podcast-planner#preview"}} %>
            <%= form.label :number_of_episodes %>
          </div>
        </div>
        <div class="d-none" data-toggle-field-target="field" field="date">
          <div class="form-floating">
            <%= form.date_field :end_date, min: DateTime.tomorrow + 1.day, max: DateTime.tomorrow + 6.months, data: {action: "podcast-planner#preview"} %>
            <%= form.label :end_date %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
