<% data = {controller: "planner", planner_dates_count_value: @planner.dates&.count.to_i} %>
<%= form_with(url: podcast_planner_path(@podcast), method: :post, data: data) do |form| %>

  <div class="col-12 mb-4">
    <div class="card shadow border-0">
      <div class="card-header card-header-info d-flex justify-content-between">
        <h5 class="card-title flex-grow-1"><%= t(".title.settings") %></h5>
      </div>

      <div class="card-body pt-4 pb-0" data-morph="false">
        <div class="row">
          <%= render "form_draft_settings", form: form %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 mb-4">
    <div class="card shadow border-0"
         data-controller="pager calendar"
         data-calendar-existing-value="<%= @draft_times.to_json %>"
         data-calendar-planning-value="<%= (@planner.dates || []).to_json %>">
      <div class="card-header card-header-light d-flex justify-content-between align-items-center">
        <h5 class="card-title flex-grow-1">
          <%= t(".title.calendar") %>
        </h5>

        <button type="submit" class="btn btn-primary position-relative" disabled data-planner-target="button" data-turbo-frame="_top">
          <span class="prx-invisible-busy">
            <%= t(".label.create") %>
            <span data-planner-target="count"><%= @planner.dates&.count.to_i %></span>
            <span data-planner-target="label" data-singular="<%= t(".label.draft") %>" data-plural="<%= t(".label.draft").pluralize %>">
              <%= t(".label.draft").pluralize(@planner.dates&.count.to_i) %>
            </span>
          </span>

          <div class="prx-show-busy position-absolute top-0 start-0 w-100 h-100">
            <div class="d-flex align-items-center justify-content-center h-100">
              <span class="spinner-border" role="status" aria-hidden="true"></span>
            </div>
          </div>
        </button>
      </div>

      <div class="card-body pt-4 py-0">
        <div class="row d-flex flex-wrap gx-4">
          <div class="col-12 mb-2 d-flex justify-content-between">
            <button type="button" class="btn btn-link btn-sm text-decoration-none" data-action="pager#pageBackward" data-pager-target="prev" disabled>
              <span class="material-icons text-decoration-none">arrow_left</span>
              <%= t(".label.month") %>
            </button>
            <button type="button" class="btn btn-link btn-sm text-decoration-none" data-action="pager#pageForward" data-pager-target="next">
              <%= t(".label.month") %>
              <span class="material-icons text-decoration-none">arrow_right</span>
            </button>
          </div>

          <% (12 * PodcastPlanner::MAX_YEARS).times do |i| %>
            <%= render "calendar", form: form, start_date: Date.today.beginning_of_month + i.months, planner: @planner, index: i, range: 6 %>
          <% end %>

          <div class="col-12 mb-4">
            <p class="mb-0 fs-6">
              <%= t(".label.key") %>:
              <span class="badge bg-warning text-dark"><%= t(".label.key_existing") %></span>
              <span class="badge bg-primary"><%= t(".label.key_new") %></span>
              <span class="badge bg-danger text-light"><%= t(".label.key_duplicate") %></span>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

<% end %>
