<%= render "podcasts/tabs" %>

<div class="row mt-4">
  <div class="col-lg-8">
    <header>
      <h1 class="text-black fw-bold d-flex flex-fill">Plan Episodes</h1>
      <p>
        Save yourself some time by automatically creating multiple episode drafts to create a production schedule, it may also help your revenue as our sales teams will have access to dropdates to sell against. If you only wish to add a single episode, <a>go here</a>.
      </p>
    </header>

    <%= form_with do |form| %>
      <section data-controller="switch-field">
        <h2 class="fw-bold">How many episodes should be in this batch?</h2>
        <div class="col-lg-4">
          <div class="form-floating">
            <%= form.date_field :start_at %>
            <%= form.label :start_at %>
          </div>
        </div>
        <p>Calculate the end of the batch by...</p>

        <div>
          <div class="form-check form-check-inline">
            <%= form.check_box :end_condition, class: "form-check-input", checked: true, data: {switch_field_target: "option", action: "switch-field#changeOption", switch_field_idx_param: 0} %>
            <%= form.label "...number of episodes" %>
          </div>
          <div class="form-check form-check-inline">
            <%= form.check_box :end_condition, class: "form-check-input", checked: false, data: {switch_field_target: "option", action: "switch-field#changeOption", switch_field_idx_param: 1} %>
            <%= form.label "...end date" %>
          </div>
        </div>

        <div class="col-lg-4" data-switch-field-target="field">
          <div class="form-floating">
            <%= form.number_field :number_of_episodes, {min: 1, max: 100, step: 1} %>
            <%= form.label :number_of_episodes %>
          </div>
        </div>
        <div class="col-lg-4 d-none" data-switch-field-target="field">
          <div class="form-floating">
            <%= form.date_field :end_at %>
            <%= form.label :end_at %>
          </div>
        </div>
      </section>

      <section data-controller="date-selection switch-field">
        <h2 class="fw-bold">Which day of the week do you plan to publish your episodes?</h2>
        <p>
          Publish will automatically create an episode draft for each day selected on the weeks provided below. Select all that apply.
        </p>
        <div>
          <% DateTime::ABBR_DAYNAMES.each_with_index do |day, i| %>
            <div class="form-check form-check-inline">
              <%= form.check_box :date, class: "form-check-input", checked: false, data: {action: "date-selection#selectDay", date_selection_day_param: [day, i]} %>
              <%= form.label day %>
            </div>
          <% end %>
        </div>

        <h2 class="fw-bold">Which weeks of each month do you plan to publish?</h2>
        <p>
          Publish will create episode drafts during these weeks every month.
          Select all that apply.
        </p>

        <div>
          <div class="form-check form-check-inline">
            <%= form.check_box :week_selection, class: "form-check-input", checked: true, data: {switch_field_target: "option", action: "switch-field#changeOption", switch_field_idx_param: 0} %>
            <%= form.label "...recurring weeks" %>
          <div class="form-check form-check-inline">
            <%= form.check_box :week_selection, class: "form-check-input", checked: false, data: {switch_field_target: "option", action: "switch-field#changeOption", switch_field_idx_param: 1} %>
            <%= form.label "...numbered weeks" %>
          </div>
          </div>
        </div>

        <div class="col-lg-4" data-switch-field-target="field">
          <% recurring_weeks_options.each do |week| %>
            <div class="form-check form-check-inline">
              <%= form.check_box :date, class: "form-check-input", checked: false, data: {action: "date-selection#selectWeek", date_selection_week_param: week} %>
              <%= form.label week %>
            </div>
          <% end %>
        </div>
        <div class="col-lg-4 d-none" data-switch-field-target="field">
          <% numbered_weeks_options.each do |week| %>
            <div class="form-check form-check-inline">
              <%= form.check_box :date, class: "form-check-input", checked: false, data: {action: "date-selection#selectWeek", date_selection_week_param: week} %>
              <%= form.label week %>
            </div>
          <% end %>
        </div>
      </section>

      <section>
        <h2 class="fw-bold">What time of day do you plan to publish your episodes?</h2>
        <p>
          Select the time of day in which episodes would automatically be set to
          publish once the state is changed to scheduled. This will prevent you from
          resetting the value on each individual episode.
        </p>

        <div class="col-lg-4">
          <div class="form-floating">
            <%= form.select :publish_time, episode_publish_time_options %>
            <%= form.label :publish_time %>
          </div>
        </div>
      </section>

      <section>
        <h2 class="fw-bold">Categories</h2>

        <div class="col-12 mb-4">
          <div class="form-floating">
            <%= form.tag_select :categories, {}, {}, data: {allow_new: true, allow_clear: true} %>
            <%= form.label :categories %>
          </div>
        </div>
      </section>

      <section>
        <h2 class="fw-bold">Audio Segments</h2>
        <p>
          Make sure you choose a template associated with your series
          Podcast Info.
          This will help us forecast ad inventory available in each episode.
        </p>

        <div class="col-lg-4">
          <div class="form-floating">
            <%= form.number_field :audio_segments %>
            <%= form.label :audio_segments %>
          </div>
        </div>
      </section>
    <% end %>
  </div>

  <div class="col-lg-4">
    Placeholder for submit, and draft list
  </div>
</div>
