<%= render "podcasts/tabs" %>

<div class="row mt-4">
  <div class="col-lg-8">
    <header>
      <h1 class="text-black fw-bold d-flex flex-fill">Plan Episodes</h1>
      <p>
        Save yourself some time by automatically creating multiple episode drafts to create a production schedule, it may also help your revenue as our sales teams will have access to dropdates to sell against. If you only wish to add a single episode, <a>go here</a>.
      </p>
    </header>

  <%= form_with(url: podcast_planner_path(@podcast), html: {method: :put}) do |form| %>
      <section>
        <div class="mb-4">
          <h2 class="fw-bold">Date Calculation of Draft Batch</h2>
          <p>
            Calculate release dates for your drafts by selecting which days and weeks you plan to publish, and then select a date range.
          </p>
        </div>

        <div data-controller="toggle-field date-selection">
          <div class="mb-4">
            <h3 class="fw-bold">Day selection</h3>
            <p>Which day of the week do you plan to publish your episodes? Select all that apply.</p>
            <div>
              <% DateTime::ABBR_DAYNAMES.each_with_index do |day, i| %>
                <div class="form-check form-check-inline">
                  <%= form.check_box :date, class: "form-check-input", checked: false, data: {action: "date-selection#selectDay", date_selection_day_param: [day, i]} %>
                  <%= form.label day %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="mb-4">
            <h3 class="fw-bold">Week selection</h3>
            <p>
              Which weeks of each month do you plan to publish? Select all that apply.
            </p>

            <div class="mb-4">
              <p>Calculate the weeks by:</p>
              <div class="col-lg-4">
                <div class="form-floating">
                  <%= form.toggle_field_select :week_condition, week_condition_options, params, class: "form-select form-select-sm" %>
                  <%= form.label :week_condition %>
                </div>
              </div>
            </div>

            <div class="col-lg-4" data-toggle-field-target="field" field="periodic">
              <% recurring_weeks_options.each do |week| %>
                <div class="form-check form-check-inline">
                  <%= form.check_box :date, class: "form-check-input", checked: false, data: {action: "date-selection#selectWeek", date_selection_week_param: week} %>
                  <%= form.label week %>
                </div>
              <% end %>
            </div>
            <div class="col-lg-4 d-none" data-toggle-field-target="field" field="monthly">
              <% numbered_weeks_options.each do |week| %>
                <div class="form-check form-check-inline">
                  <%= form.check_box :date, class: "form-check-input", checked: false, data: {action: "date-selection#selectWeek", date_selection_week_param: week} %>
                  <%= form.label week %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div data-controller="toggle-field">
          <h3 class="fw-bold">Date Range selection</h3>
          <div class="mb-4">
            <p>How long should episodes recur? Give a date range with a start date, and choose how to calculate the end date.</p>
            <p>Calculate the end of the batch by:</p>
            <div class="col-lg-4">
              <div class="form-floating">
                <%= form.toggle_field_select :end_condition, end_condition_options, params, class: "form-select form-select-sm" %>
                <%= form.label :end_condition %>
              </div>
            </div>
          </div>

          <div class="row mb-4 g-3">
            <div class="col-lg-6">
              <div class="form-floating">
                <%= form.date_field :start_date %>
                <%= form.label :start_date %>
              </div>
            </div>
            <div class="col-lg-6" data-toggle-field-target="field" field="episodes">
              <div class="form-floating">
                <%= form.number_field :number_of_episodes, {min: 1, max: 100, step: 1} %>
                <%= form.label :number_of_episodes %>
              </div>
            </div>
            <div class="col-lg-6 d-none" data-toggle-field-target="field" field="date">
              <div class="form-floating">
                <%= form.date_field :end_date %>
                <%= form.label :end_date %>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h2 class="fw-bold">What time of day do you plan to publish your episodes?</h2>
        <p>
          Select the time of day in which episodes would automatically be set to
          publish once the state is changed to scheduled. This will prevent you from
          resetting the value on each individual episode.
        </p>

        <div class="col-lg-4">
          <div class="form-floating">
            <%= form.select :publish_time, episode_publish_time_options %>
            <%= form.label :publish_time %>
          </div>
        </div>
      </section>

      <section>
        <h2 class="fw-bold">Audio Segments</h2>
        <p>
          Make sure you choose a template associated with your series
          Podcast Info.
          This will help us forecast ad inventory available in each episode.
        </p>

        <div class="col-lg-4">
          <div class="form-floating">
            <%= form.number_field :segment_count %>
            <%= form.label :segment_count %>
          </div>
        </div>
      </section>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-header-primary">
        <h5 class="card-title">Title</h5>
      </div>
      <div class="card-footer">
        <p class="status-text"><strong>hint</strong></p>
        <%= form.submit "create", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
