<div class="card episode-card border-<%= episode_border_color(episode) %>">
  <div class="card-body">
    <div class="episode-card-info">
      <p class="episode-card-date">
        <% if episode.published_or_released_date.present? %>
          <%= local_date(episode.published_or_released_date, format: :short) %>
        <% end %>
      </p>

      <div class="episode-card-inner">
        <h2 class="episode-card-title"><%= episode.title %></h2>
        <div class="d-flex mt-2 align-items-center">
          <!--<p class="card-text text-small me-1">More optional metadata can go here | if we ever need it</p>-->
          <% status = episode_media_status(episode) %>
          <span class="badge rounded-pill prx-badge-<%= status %>">
            <%= t("helpers.label.episode.media_statuses.#{status.underscore}") %>
          </span>
          <% if episode.ad_breaks.to_i == 0 %>
            <span class="badge rounded-pill bg-primary ms-1 "><%= t(".breaks", count: 0) %></span>
          <% else %>
            <span class="badge rounded-pill bg-primary ms-1"><%= t(".breaks", count: episode.ad_breaks) %></span>
          <% end %>
        </div>

        <%= link_to "Go to Episode", edit_episode_path(episode.guid), class: "stretched-link", data: {turbo_frame: "_top"} %>
      </div>
    </div>
  </div>
</div>
