<div class="prx-uploads col-12 mb-4">
  <div class="card shadow border-0">

    <div class="card-header card-header-info d-flex justify-content-between">
      <h5 class="card-title"><%= t(".title") %></h5>
    </div>

    <div class="card-body">
      <%= turbo_frame_tag "episode-form-audio", data: {controller: "audio-upload"} do %>
        <div class="row">

          <div class="col-12 mb-4 prx-field-group">
            <div class="form-floating" data-controller="dynamic-form">
              <%= form.select :medium, episode_medium_options, {}, data: {action: "dynamic-form#change"} %>
              <%= form.label :medium %>
              <a hidden href="<%= request.fullpath %>" data-dynamic-form-target="link"></a>
            </div>
          </div>

          <% if episode.medium_video? %>
            <%= form.hidden_field :segment_count, value: 1 %>
          <% else %>
            <div class="col-12 mb-4 prx-field-group">
              <div class="form-floating" data-controller="dynamic-form">
                <%= form.number_field :ad_breaks, min: 0, max: Episode::MAX_SEGMENT_COUNT - 1, data: {action: "dynamic-form#change"} %>
                <%= form.label :ad_breaks %>
                <a hidden href="<%= request.fullpath %>" data-dynamic-form-target="link"></a>
              </div>

              <button type="button" class="prx-btn-help" data-bs-toggle="popover" data-bs-content="<%= t(".help.ad_breaks") %>">
                <span class="material-icons">help</span>
              </button>
            </div>
          <% end %>

          <% if episode.medium_uncut? %>
            <%= form.fields_for :uncut, episode.uncut || episode.build_uncut do |fields| %>
              <%= render "form_audio_file", form: fields, episode: episode, media_resource: fields.object %>
            <% end %>
          <% else %>
            <%= form.fields_for :contents, episode.build_contents, include_id: false do |fields| %>
              <%= render "form_audio_file", form: fields, episode: episode, media_resource: fields.object %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
