<% model = episode.new_record? ? [episode.podcast, episode] : episode %>
<% data = {controller: "unsaved", unsaved_changed_value: episode.changed?, unsaved_confirm_value: t(".confirm")} %>

<%= form_with(model: model, html: {autocomplete: "off"}, data: data) do |form| %>
  <div class="row my-4">
    <div class="col-lg-8">
      <div class="card shadow pt-3 border-0">
        <div class="card-body">
          <div class="row">
            <%= render "form_main", episode: episode, form: form %>
            <%= render "form_tags", episode: episode, form: form %>
            <%= render "form_audio", episode: episode, form: form %>
            <%= render "form_image", episode: episode, form: form %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 d-grid align-content-start gap-3">
      <%= render "form_status", episode: episode, form: form %>
      <%= render "form_distribution", episode: episode, form: form %>
    </div>
  </div>
<% end %>
