<div class="col-12 mb-4">
  <div class="form-floating">
    <%= form.text_field :title %>
    <%= form.label :title %>
  </div>
</div>

<div class="col-12 mb-4">
  <div class="form-floating">
    <%= form.text_field :clean_title %>
    <%= form.label :clean_title %>
  </div>
</div>

<div class="col-12 mb-4">
  <div class="form-floating">
    <%= form.text_field :subtitle %>
    <%= form.label :subtitle %>
  </div>
</div>
