<div class="col-12 mb-4 border-0">
    <div class="form-floating input-group">
      <%= form.text_field :title %>
      <%= form.label :title, required: true %>
      <%= field_help_text t(".help.title") %>
    </div>
</div>

<div class="col-12 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :clean_title %>
    <%= form.label :clean_title %>
    <%= field_help_text t(".help.clean_title") %>
  </div>
</div>

<div class="col-12 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :subtitle %>
    <%= form.label :subtitle %>
    <%= field_help_text t(".help.subtitle") %>
  </div>
</div>

<div class="col-12 mb-4">
  <div class="card shadow border-0">
    <div class="card-header card-header-light d-flex justify-content-between">
      <h2 class="card-title h5 flex-grow-1"><%= t("helpers.label.episode.description") %></h2>
      <%= help_text t(".help.description") %>
    </div>
    <div class="card-body">
      <div class="form-floating">
        <%= form.hidden_field :summary, value: nil %>
        <%= form.hidden_field :content, value: nil %>
        <%= form.trix_editor :description %>
      </div>
    </div>
  </div>
</div>

<div class="col-12 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :production_notes %>
    <%= form.label :production_notes %>
    <%= field_help_text t(".help.production_notes") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.select :explicit_option, episode_explicit_options %>
    <%= form.label :explicit_option %>
    <%= field_help_text t(".help.explicit", podcast_value: t("helpers.label.podcast.explicits.#{episode.podcast.explicit}")) %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.select :itunes_type, episode_itunes_type_options %>
    <%= form.label :itunes_type, required: true %>
    <%= field_help_text t(".help.itunes_type") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.number_field :season_number %>
    <%= form.label :season_number %>
    <%= field_help_text t(".help.season_number") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.number_field :episode_number %>
    <%= form.label :episode_number %>
    <%= field_help_text t(".help.episode_number") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :author_name %>
    <%= form.label :author_name %>
    <%= field_help_text t(".help.author_name") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :author_email %>
    <%= form.label :author_email %>
    <%= field_help_text t(".help.author_email") %>
  </div>
</div>
