<div class="card">
  <div class="card-header bg-<%= episode_status_class(episode) %>">
    <h5 class="card-title"><%= t(".title_#{episode.publishing_status_was}") %></h5>
  </div>

  <div class="card-body row">
    <div class="col-12 mb-4">
      <div class="form-floating">
        <%= form.select :publishing_status, episode_publishing_status_options %>
        <%= form.label :publishing_status %>
      </div>
    </div>

    <div class="col-12 mb-4">
      <div class="form-floating">
        <%= form.time_field :released_at %>
        <%= form.label :released_at %>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <% if episode.persisted? %>
      <p class="status-text"><strong><%= t(".updated_at_hint") %></strong> <br><%= l(episode.updated_at) %></p>

      <div class="btn-group">
        <%= form.submit t(".update"), class: "btn btn-#{episode_status_class(episode)}" %>

        <button type="button" class="btn btn-<%= episode_status_class(episode) %> dropdown-toggle dropdown-toggle-split border-start border-color-white" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <% if episode.published? %>
            <li><a class="dropdown-item bg-danger text-white" href="#">Unpublish</a></li>
          <% else %>
            <li><a class="dropdown-item bg-danger text-white" href="#">Delete</a></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <p class="status-text"><strong><%= t(".new_hint") %></strong></p>

      <%= form.submit t(".create"), class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
