<div class="prx-uploads col-12 mb-4">
  <div class="card shadow border-0">

    <div class="card-header card-header-info d-flex justify-content-between">
      <h5 class="card-title"><%= t(".title") %></h5>
    </div>

    <div class="card-body">
      <%= turbo_frame_tag "episode-form-audio", data: {controller: "audio-upload"} do %>
        <div class="row">

          <div class="col-12 mb-4 prx-field-group">
            <div class="form-floating" data-controller="dynamic-form">
              <%= form.number_field :segment_count, min: 1, max: Episode::MAX_SEGMENT_COUNT, data: {action: "dynamic-form#change"} %>
              <%= form.label :segment_count %>
              <a hidden href="<%= request.fullpath %>" data-dynamic-form-target="link"></a>
            </div>

            <button type="button" class="prx-btn-help" data-bs-toggle="popover" data-bs-content="<%= t(".help.segment_count") %>">
              <span class="material-icons">help</span>
            </button>
          </div>

          <%= form.fields_for :contents, episode.build_contents do |fields| %>
            <% begin %>
              <% if fields.object.new_record? %>
                <%= render "episodes/audio_status/new", form: fields, episode: episode, content: fields.object %>
              <% elsif fields.object.marked_for_destruction? %>
                <%= render "episodes/audio_status/destroy", form: fields, episode: episode, content: fields.object %>
              <% else %>
                <%= render "episodes/audio_status/#{fields.object.status}", form: fields, episode: episode, content: fields.object %>
              <% end %>
            <% rescue ActionView::MissingTemplate %>
              <%= render "episodes/audio_status/unknown", form: fields, episode: episode, content: fields.object %>
            <% end %>
          <% end %>

        </div>
      <% end %>
    </div>

  </div>
</div>
