<div class="card shadow border-0">
  <div class="card-header-info">
    <h5 class="card-title"><%= t(".title") %></h5>
  </div>
  <div class="card-body">

    <div class="col-12 mb-4">
      <div class="form-floating input-group">
        <% if episode.persisted? %>
          <% data = {confirm_field_target: "field", confirm_with: t(".confirm.item_guid")} %>
          <%= form.text_field :item_guid, data: data %>
          <%= form.label :item_guid %>
          <%= field_copy episode.item_guid %>
          <%= field_help_text t(".help.item_guid") %>
        <% else %>
          <%= form.text_field :original_guid %>
          <%= form.label :original_guid %>
          <%= field_help_text t(".help.original_guid") %>
        <% end %>
      </div>
    </div>

    <div class="col-12 mb-4">
      <div class="form-floating input-group">
        <% if episode.media_ready? %>
          <%= form.text_field :enclosure_url, value: episode.enclosure_url, disabled: true %>
          <%= form.label :enclosure_url %>
          <%= field_copy episode.enclosure_url %>
        <% else %>
          <%= form.text_field :enclosure_url, value: t(".enclosure_not_ready"), disabled: true %>
          <%= form.label :enclosure_url %>
        <% end %>
      </div>
    </div>

    <div class="col-12 mb-4">
      <div class="form-floating input-group">
        <% if episode.persisted? %>
          <%= form.text_field :embed_player_url, value: embed_player_episode_url(episode), disabled: true %>
          <%= form.label :embed_player_url %>
          <%= field_link embed_player_episode_url(episode) %>
          <%= field_copy embed_player_episode_url(episode) %>
        <% else %>
          <%= form.text_field :embed_player_url, value: t(".embed_player_not_ready"), disabled: true %>
          <%= form.label :embed_player_url %>
        <% end %>
      </div>
    </div>

    <div class="col-12">
      <div class="form-floating input-group">
        <%= form.text_field :url %>
        <%= form.label :url %>
        <% if episode.url.present? %>
          <%= field_link episode.url %>
          <%= field_copy episode.url %>
        <% end %>
        <%= field_help_text t(".help.url") %>
      </div>
    </div>

  </div>
</div>
