<%= form_with(model: episode, html: {autocomplete: "off"}, data: {controller: "unsaved", unsaved_changed_value: episode.changed?, unsaved_confirm_value: t(".confirm")}) do |form| %>
  <div class="row mt-4">
    <div class="col-lg-8">
      <div class="row">
        <div class="card shadow">
          <div class="card-body mt-4">
            <div class="row">
              <%= render "form_main", episode: episode, form: form %>
              <hr>
              <%= render "form_tags", episode: episode, form: form %>
              <hr>
              <%= render "form_audio", episode: episode, form: form %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 d-grid align-content-start gap-3">
      <%= render "form_status", episode: episode, form: form %>
      <%= render "form_distribution", episode: episode, form: form %>
      <%= render "form_image", episode: episode, form: form %>
    </div>
  </div>
<% end %>
