<%= form_with(model: episode, html: {autocomplete: "off"}) do |form| %>
  <div class="row mt-4">
    <div class="col-lg-8">
      <div class="row">
        <%= render "form_main", episode: episode, form: form %>
      </div>
    </div>
    <div class="col-lg-4">
      <%= render "form_status", episode: episode, form: form %>
      <%= render "form_distribution", episode: episode, form: form %>
      <%= render "form_image", episode: episode, form: form %>
    </div>
  </div>
<% end %>
