<p style="color: green"><%= notice %></p>

<h1>Episodes</h1>

<form class="pb-4 input-group">
<input class="form-control" placeholder="Filter..." name="q" value="<%= params[:q] %>" aria-label="Filter results" autofocus onfocus="this.value = this.value;">
<button type="submit" class="btn btn-primary" type="button">Submit</button>
</form>

<div class="row">
  <div class="col">
    <% @published_episodes.each do |episode| %>
      <%= render episode %>
    <% end %>

    <%= paginate @published_episodes %>
  </div>

  <div class="col">
    <% @scheduled_episodes.each do |episode| %>
      <%= render episode %>
    <% end %>
  </div>
</div>

<%= link_to "New episode", new_episode_path %>
