<p style="color: green"><%= notice %></p>

<h1>Episodes</h1>

<div class="row">
  <div class="col">
    <% @published_episodes.each do |episode| %>
      <%= render episode %>
    <% end %>
    
    <%= paginate @published_episodes %>
  </div>

  <div class="col">
    <% @scheduled_episodes.each do |episode| %>
      <%= render episode %>
    <% end %>
    
    <%= paginate @scheduled_episodes %>
  </div>
</div>


<%= link_to "New episode", new_episode_path %>
