<% content_for :title, t(".title") %>

<%= turbo_frame_tag "episodes", data: {controller: "morphdom"} do %>

  <%= render "episode_filters" %>

  <div class="container">
    <div class="row">

      <% if params[:sort].present? %>

        <section class="col-lg-12">
          <div class="dashboard-list mb-4 shadow">
            <%= render partial: "episodes/episode", collection: @episodes, cached: true %>
          </div>
          <div class="my-4">
            <%= paginate @episodes %>
            <%= page_entries_info @episodes %>
          </div>
        </section>

      <% else %>

        <section class="col-lg-6">
          <h2 class="fw-bold"><%= t(".draft_or_scheduled") %></h2>
          <div class="dashboard-list mb-4 shadow">
            <%= render partial: "episodes/episode", collection: @scheduled_episodes, cached: true %>
          </div>
          <div class="my-4">
            <%= paginate @scheduled_episodes, param_name: :scheduled_page %>
            <%= page_entries_info @scheduled_episodes %>
          </div>
        </section>

        <section class="col-lg-6">
          <h2 class="fw-bold"><%= t(".published") %></h2>
          <div class="dashboard-list mb-4 shadow">
            <%= render partial: "episodes/episode", collection: @published_episodes, cached: true %>
          </div>
          <div class="my-4">
            <%= paginate @published_episodes, param_name: :published_page %>
            <%= page_entries_info @published_episodes %>
          </div>
        </section>

      <% end %>

    </div>
  </div>

<% end %>
