<h1>Episodes</h1>

<form class="pb-4 input-group">
  <input class="form-control" placeholder="Filter..." name="q" value="<%= params[:q] %>" aria-label="Filter results" autofocus onfocus="this.value = this.value;">
  <button type="submit" class="btn btn-primary" type="button">Submit</button>
</form>

<div class="row">
  <div class="col">
    <h2>Draft or Scheduled Episodes </h2>
    <% @scheduled_episodes.each do |episode| %>
      <%= render episode %>
    <% end %>

    <%= paginate @scheduled_episodes, param_name: "scheduled_page" %>
  </div>

  <div class="col">
    <h2>Published Episodes</h2>
    <% @published_episodes.each do |episode| %>
      <%= render episode %>
    <% end %>

    <%= paginate @published_episodes, param_name: "published_page" %>
  </div>
</div>
