<div id="<%= id %>" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t(".close") %>"></button>
      </div>
      <div class="modal-body">
        <table class="table table-sm m-0">
          <tbody>
            <tr>
              <th scope="row"><strong><%= t(".file") %>:</strong></th>
              <td>
                <% if transcript.status_complete? %>
                  <%= link_to transcript.file_name, transcript.url, target: "_blank", rel: "noopener" %>
                <% else %>
                  <%= transcript.file_name %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th scope="row"><strong><%= t(".status") %>:</strong></th>
              <td>
                <span class="badge bg-<%= upload_status_class(transcript) %>"><%= transcript.status.capitalize %></span>
              </td>
            </tr>
            <tr>
              <th scope="row"><strong><%= t(".file_size") %>:</strong></th>
              <td><%= blank_dash(transcript.file_size) { number_to_human_size(transcript.file_size) } %></td>
            </tr>
            <tr>
              <th scope="row" class="text-nowrap"><strong><%= t(".mime_type") %>:</strong></th>
              <td><%= blank_dash(transcript.mime_type) %></td>
            </tr>
            <tr>
              <th scope="row"><strong><%= t(".format") %>:</strong></th>
              <td><%= blank_dash(transcript.format) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
