<tr>
  <td>
    <span class="badge rounded-pill prx-badge-<%= episode_import.status %>">
      <%= t("helpers.label.episode_import.statuses.#{episode_import.status}") %>
    </span>
  </td>
  <td class="align-middle">
    <% if episode_import.guid.present? %>
      <pre class="m-0 p-0"><%= episode_import.guid %></pre>
    <% else %>
      &mdash;
    <% end %>
  <td class="text-truncate">
    <% if episode_import.episode %>
      <%= link_to edit_episode_path(episode_import.episode.guid), data: {turbo_frame: "_top"} do %>
        <%= episode_import.episode.title %>
      <% end %>
    <% elsif episode_import.try(:title) %>
      <%= episode_import.title %>
    <% else %>
      &mdash;
    <% end %>
  </td>
</tr>
