<div class="col-12 prx-field-group">
  <div class="form-floating">
    <%= form.text_field :url %>
    <%= form.label :url, required: true %>
  </div>
</div>

<div class="col-12 mt-2">
  <div class="form-check">
    <%= form.check_box :import_metadata, checked: true %>
    <div class="d-flex align-items-center">
      <%= form.label :import_metadata %>
      <%= help_text t(".help.import_metadata") %>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="form-check">
    <%= form.check_box :import_existing, checked: true %>
    <div class="d-flex align-items-center">
      <%= form.label :import_existing %>
      <%= help_text t(".help.import_existing") %>
    </div>
  </div>
</div>

<div class="col-12 mt-2">
  <div class="form-check">
    <%= form.check_box :replace_files, checked: true %>
    <div class="d-flex align-items-center">
      <%= form.label :replace_files %>
      <%= help_text t(".help.replace_files") %>
    </div>
  </div>
</div>
