<div class="col-12 prx-field-group">
  <div class="form-floating">
    <%= form.select :megaphone_podcast_id, megaphone_podcast_options(form.object), {include_blank: true} %>
    <%= form.label :megaphone_podcast_id, "Megaphone Podcast" %>
  </div>
</div>

<div class="col-12 mt-2">
  <div class="form-check">
    <%= form.check_box :import_drafts, checked: false %>
    <div class="d-flex align-items-center">
      <%= form.label :import_drafts %>
      <%= help_text t(".help.import_drafts") %>
    </div>
  </div>
</div>

<div class="col-12 mt-2">
  <div class="form-check">
    <%= form.check_box :override_enclosures, checked: false %>
    <div class="d-flex align-items-center">
      <%= form.label :override_enclosures %>
      <%= help_text t(".help.override_enclosures") %>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="form-check">
    <%= form.check_box :import_existing, checked: true %>
    <div class="d-flex align-items-center">
      <%= form.label :import_existing %>
      <%= help_text t(".help.import_existing") %>
    </div>
  </div>
</div>
