<div class="card shadow border-0">
  <div class="card-header-primary">
    <h2 class="card-title h5"><%= t(".title") %></h2>
  </div>

  <div class="card-body row">
    <table class="table">
      <tr>
        <td class="text-nowrap"><%= t(".type") %></td>
        <td><%= t("helpers.label.podcast_import.types.#{import.type}") %></td>
      </tr>
      <tr>
        <td class="text-nowrap"><%= t(".source") %></td>
        <td>
          <% if import.is_a?(PodcastTimingsImport) %>
            <%= link_to podcast_import_path(import.podcast_id, import, format: :csv) do %>
              <%= import.file_name %><span class="material-icons text-primary fs-4 lh-sm ms-1 align-middle">download</span>
            <% end %>
          <% else %>
            <%= link_to import.url, target: :_blank do %>
              <%= import.file_name %><span class="material-icons text-primary fs-4 lh-sm ms-1 align-middle">open_in_new</span>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td width="1">Status</td>
        <td class="align-middle">
          <% if import.status_created? %>
            &mdash;
          <% elsif import.undone? %>
            <%= render "import_progress", import: import %>
          <% else %>
            <span class="badge rounded-pill prx-badge-<%= import.status %>">
              <%= t("helpers.label.podcast_import.statuses.#{import.status}") %>
            </span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="text-nowrap"><%= t(".episode_count") %></td>
        <td><%= import.episode_imports.count %></td>
      </tr>
      <tr>
        <td><%= t(".complete") %></td>
        <td><%= import.episode_imports.status_complete.count %></td>
      </tr>
      <tr>
        <td><%= t(".errors") %></td>
        <td><%= import.episode_imports.errors.count %></td>
      </tr>
      <% if import.is_a?(PodcastTimingsImport) %>
        <% import.ad_breaks&.each do |breaks, count| %>
          <tr>
            <td><%= t(".breaks", count: breaks.to_i) %></td>
            <td><%= count %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
