<%= turbo_frame_tag "imports-table", data: {controller: "morphdom"} do %>
  <table class="table table-striped shadow rounded">
    <thead>
      <tr class="table-secondary">
        <th width=0><%= t(".type") %></th>
        <th><%= t(".episode_count") %></th>
        <th><%= t(".status") %></th>
        <th><%= t(".import_date") %></th>
        <th><%= t(".source") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "imports/import", collection: imports, cached: true %>
      <% if imports.empty? %>
        <tr>
          <td class="text-center text-muted p-4" colspan="100"><%= t(".no_imports") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if imports.any?(&:undone?) %>
    <%# just keep polling until the import finishes %>
    <%= link_to "", request.fullpath, class: "d-none", data: {controller: "polling"} %>
  <% end %>
<% end %>
