<div class="row my-4 mx-2" data-controller="embed-preview"
  data-embed-preview-embed-preview-url-value="<%= embed_player_episode_url(episode, player_options, true) %>"
  data-embed-preview-embed-url-value="<%= embed_player_episode_url(episode, player_options) %>">
  <div class="col-8">

    <section class="container-fluid mb-5">
      <header>
        <h3 class="fw-bold"><%= t(".title.preview") %></h3>
      </header>

      <%= render "form_preview", player_options: @player_options %>
    </section>

    <section class="container-fluid d-grid gap-4">
      <%= render "form_copy", player_options: @player_options %>

      <div class="form-floating input-group">
        <% if episode.media_ready? %>
          <%= text_field_tag :enclosure_url, episode.enclosure_url, class: "form-control", disabled: true, autocomplete: "off" %>
          <%= label_tag :enclosure_url, t("helpers.label.episode.enclosure_url") %>
          <%= field_copy episode.enclosure_url %>
        <% else %>
          <%= text_field_tag :enclosure_url, t(".enclosure_not_ready"), class: "form-control", disabled: true, autocomplete: "off" %>
          <%= label_tag :enclosure_url, t("helpers.label.episode.enclosure_url") %>
        <% end %>
      </div>
    </section>

  </div>

  <div class="col-4">

    <div class="container-fluid d-grid gap-4">
      <%= render "form_sidebar", player_options: @player_options %>

      <div class="card border-light">
        <div class="card-footer d-grid">
          <%= link_to t(".label.clear"), episode_player_path(episode), class: "btn btn-primary" %>
        </div>
      </div>
    </div>

  </div>
</div>
