<div class="row my-4 mx-2" data-controller="dynamic-form">
  <div class="col-8">
    <a hidden href="<%= request.fullpath %>" data-dynamic-form-target="link"></a>

    <section class="container-fluid mb-5">
      <header>
        <h3 class="fw-bold"><%= t(".title.preview") %></h3>
      </header>

      <%= render "form_preview", embed_html: embed_player_episode_iframe(episode, player_options, true) %>
    </section>

    <section class="container-fluid d-grid gap-4">
      <header>
        <h3 class="fw-bold m-0"><%= t(".title.copy") %></h3>

        <div class="form-text mb-2">
          <%= t(".help.copy") %>
        </div>

        <% if embed_episode_maybe_not_in_feed?(episode) %>
          <div class="alert alert-danger mb-1" role="alert">
            <b><%= t(".title.warning") %></b>
            <%= t(".help.warning") %>
          </div>
        <% end %>
      </header>

      <%= render "form_copy",
            embed_url: embed_player_episode_url(episode, player_options),
            embed_html: embed_player_episode_iframe(episode, player_options) %>

      <div class="form-floating input-group">
        <%= text_field_tag :enclosure_url, episode.enclosure_url, class: "form-control", disabled: true, autocomplete: "off" %>
        <%= label_tag :enclosure_url, t("helpers.label.episode.enclosure_url") %>
        <%= field_copy episode.enclosure_url %>
      </div>
    </section>

  </div>

  <div class="col-4">

    <div class="container-fluid d-grid gap-4">
      <%= render "form_sidebar", player_options: player_options %>

      <div class="card">
        <div class="card-footer d-grid">
          <%= link_to t(".label.clear"), episode_player_path(episode), class: "btn btn-primary" %>
        </div>
      </div>
    </div>

  </div>
</div>
