<div>
  <div class="form-floating input-group">
    <%= select_tag :embed_player_type, embed_player_type_options(player_options[:embed_player_type]), class: "form-select", data: {action: "dynamic-form#change"} %>
    <%= label_tag :embed_player_type, t("helpers.label.podcast_player.embed_player_type") %>
  </div>

  <div class="form-text">
    <%= t(".help.types.#{player_options[:embed_player_type] || "standard"}") %>
  </div>
</div>

<div>
  <div class="form-floating input-group">
    <%= number_field_tag :max_width, player_options[:max_width], min: 300, class: "form-control", placeholder: "100%", autocomplete: "off", data: {action: "dynamic-form#change"} %>
    <%= label_tag :max_width, t("helpers.label.podcast_player.max_width") %>
    <span class="input-group-text" id="basic-addon2">px</span>
  </div>

  <div class="form-text">
    <%= t(".help.max_width") %>
  </div>
</div>

<div class="card border-light">
  <div class="card-header-light"><%= t(".title.customize") %></div>
  <div class="card-body d-grid gap-3">
    <div class="form-text">
      <%= t(".help.customize") %>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-floating input-group">
          <%= select_tag :embed_player_theme, embed_player_theme_options(player_options[:embed_player_theme]), class: "form-select", data: {action: "dynamic-form#change"} %>
          <%= label_tag :embed_player_theme, t("helpers.label.podcast_player.embed_player_theme") %>
        </div>

        <div class="form-text">
          <%= t(".help.themes.#{player_options[:embed_player_theme] || "dark"}") %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
      <%= label_tag :accent_color, t("helpers.label.podcast_player.accent_color") %>
        <div class="input-group">
          <%= tag.input type: "color", name: :accent_color, value: player_options[:accent_color], class: "form-control form-control-color", data: {action: "dynamic-form#change"} %>
        </div>

        <div class="form-text">
          <%= t(".help.accent_color") %>
        </div>
      </div>
    </div>
  </div>
</div>
