<button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#create-modal-<%= clip.id %>">
  <span class="material-icons" aria-label="hidden">add</span>
  <span class="d-none d-md-block"><%= t(".title") %></span>
</button>

<%= content_for :modals do %>
  <div id="create-modal-<%= clip.id %>" class="modal" tabindex="-1" data-bs-focus="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= t(".title") %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t(".close") %>"></button>
        </div>

        <% url = attach_podcast_clip_path(podcast, clip) %>
        <% html = {autocomplete: "off"} %>
        <% data = {controller: "disable"} %>

        <%= form_with(model: clip, url: url, method: :post, html: html, data: data) do |form| %>
          <div class="modal-body text-center">
            <div class="form-floating input-group">
              <%= form.text_field :title, value: stream_date_hour(clip), required: true %>
              <%= form.label :title, t(".episode_title"), required: true %>
            </div>
          </div>

          <%= form.hidden_field :released_at, value: clip.start_at.iso8601 %>

          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal"><%= t(".cancel") %></button>
            <%= form.submit t(".create"), class: "btn btn-primary", data: {disable_with: t(".creating")} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
