<h1 class="fw-bold my-0 mb-0 me-4"><%= stream_date_hour(clip) %></h1>

<% if policy(clip).update? %>
  <%= render "attach_modal", podcast: podcast, clip: clip %>
  <%= render "create_modal", podcast: podcast, clip: clip %>
<% end %>

<p class="status-text flex-grow-1 text-end">
  <strong><%= t(".updated_at_hint") %></strong>
  <br>
  <%= local_time_ago(clip.updated_at) %>
</p>

<% if policy(clip).update? %>
  <% data = {disable_with: t(".updating")} %>
  <%= form.submit t(".update"), class: "btn btn-primary", data: data %>
<% end %>
