<div class="d-flex align-items-center">
  <div class="progress flex-grow-1 me-2">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
      <span>Processing <%= Time.now %>...</span>
    </div>
  </div>

  <h5 class="m-0">
    <strong><%= content.file_name %></strong>
    <small class="text-muted">(<%= number_to_human_size(content.file_size) %>)</small>
  </h5>

  <%= link_to edit_episode_path(content.episode, uploads_destroy_params(form)), class: "btn" do %>
    <span class="material-icons">delete</span>
  <% end %>

  <%= link_to "", edit_episode_path(content.episode), class: "d-none", data: {controller: "polling"} %>
</div>
