<div class="prx-podcast-switcher dropdown" data-controller="focus">

  <button class="btn dropdown-toggle" type="button" id="podcast-switcher" data-bs-toggle="dropdown" aria-expanded="false" data-action="focus#focus" data-controller="hotkey">
    <% if @podcast %>
      <% cache @podcast do %>
        <% if @podcast.ready_image %>
          <%= image_tag(@podcast.ready_image.url, size: 30, alt: @podcast.ready_image.alt_text) %>
        <% else %>
          <span class="img-placeholder" aria-hidden="true"></span>
        <% end %>
        <em class="flex-grow-1 text-start"><%= @podcast.persisted? ? @podcast.title : t(".new") %></em>
      <% end %>
    <% else %>
      <span class="img-placeholder" aria-hidden="true"></span>
      <em class="flex-grow-1 text-start"><%= t(".select") %></em>
    <% end %>
  </button>

  <ul class="dropdown-menu p-2 shadow" aria-labelledby="podcast-switcher">
    <%# turbo-stream search form %>
    <li class="search-filter mb-2">
      <%= form_with(url: podcast_switcher_path, html: {autocomplete: "off"}, data: {controller: "search"}) do |f| %>
        <div class="form-floating">
          <%= f.search_text_field :q, {}, id: "podcast_switcher", data: {focus_target: "field"} %>
          <%= f.label :q, t(".search"), for: "podcast_switcher" %>
        </div>
        <%= f.submit class: "d-none", data: {search_target: "submit"} %>
      <% end %>
    </li>

    <%# lazy-loaded list of podcasts %>
    <%= turbo_frame_tag "podcast-switcher-list", src: podcast_switcher_path, loading: "lazy" do %>
      <li class="d-flex justify-content-center">
        <div class="spinner-border text-primary m-5" role="status"></div>
      </li>

      <li><hr class="dropdown-divider"></li>

      <li>
        <%= link_to root_path, class: "dropdown-item" do %>
          <%= t(".all") %> &gt;
        <% end %>
      </li>

      <li><hr class="dropdown-divider"></li>
    <% end %>

    <%# optional new podcast link %>
    <% if policy(Podcast.new).new? %>
      <li>
        <%= link_to new_podcast_path, class: "dropdown-item"  do %>
          <%= t(".create") %> &gt;
        <% end %>
      </li>

      <li><hr class="dropdown-divider"></li>
    <% end %>

  </ul>

</div>
