<%= turbo_frame_tag "podcast-switcher-list" do %>
  <% if @podcast_switcher_podcasts.present? %>
    <%= render partial: "podcast_switcher/podcast", collection: @podcast_switcher_podcasts, cached: true %>
  <% else %>
    <li class="text-center text-secondary">
      <%= t("podcast_switcher.dropdown.empty") %>
    </li>
  <% end %>

  <li><hr class="dropdown-divider"></li>

  <li>
    <%= link_to main_app.root_path, class: "dropdown-item", data: {turbo: false} do %>
      <%= t("podcast_switcher.dropdown.all") %> (<%= @podcast_switcher_count %>) &gt;
    <% end %>
  </li>

  <li><hr class="dropdown-divider"></li>
<% end %>
