<%= turbo_frame_tag "embed-player", data: {controller: "morphdom"} do %>

  <div class="col-12 mb-4">
    <div class="form-floating input-group" data-controller="dynamic-form">
      <%= select_tag :embed_player_type, embed_player_type_options(player_options[:embed_player_type]), class: "form-control", data: {action: "dynamic-form#change"} %>
      <%= label_tag :embed_player_type, t("helpers.label.episode.embed_player_type") %>
      <a hidden href="<%= request.fullpath %>" data-dynamic-form-target="link"></a>
    </div>

    <div class="form-text">
      <%= t(".help.types.#{player_options[:embed_player_type] || "card"}") %>
    </div>
  </div>

  <div class="col-12 mb-4">
    <div>
      <div class="form-floating input-group mb-2" data-controller="dynamic-form">
        <%= number_field_tag :episode_number, player_options[:episode_number], class: "form-control", data: {action: "dynamic-form#change"}, min: 1, autocomplete: "off" %>
        <%= label_tag "Number of Episodes" %>
        <%= field_help_text t(".help.episode_number") %>
        <a hidden href="<%= request.fullpath %>" data-dynamic-form-target="link"></a>
      </div>

      <div class="form-floating input-group mb-2" data-controller="dynamic-form">
        <%= number_field_tag :season, player_options[:season], class: "form-control", data: {action: "dynamic-form#change"}, min: 0, autocomplete: "off" %>
        <%= label_tag :season, t("helpers.label.episode.season") %>
        <%= field_help_text t(".help.season") %>
        <a hidden href="<%= request.fullpath %>" data-dynamic-form-target="link"></a>
      </div>

      <div class="form-floating input-group mb-2" data-controller="dynamic-form">
        <%= select_tag :category, embed_player_category_options(podcast, player_options[:category]), include_blank: true, class: "form-control", data: {action: "dynamic-form#change"} %>
        <%= label_tag :category, t("helpers.label.episode.category") %>
        <%= field_help_text t(".help.episode_category") %>
        <a hidden href="<%= request.fullpath %>" data-dynamic-form-target="link"></a>
      </div>
    </div>
  </div>

  <div class="col-12 mb-4">
    <h3 class="fw-bold"><%= t(".title.copy") %></h3>

    <div class="form-text mb-4">
      <%= t(".help.copy") %>
    </div>

    <div class="form-floating input-group">
      <%= text_field_tag :embed_player_url, embed_player_podcast_url(podcast, player_options), class: "form-control", disabled: true, autocomplete: "off" %>
      <%= label_tag :embed_player_url, t("helpers.label.episode.embed_player_url") %>
      <%= field_link embed_player_podcast_url(podcast, player_options) %>
      <%= field_copy embed_player_podcast_url(podcast, player_options) %>
    </div>
  </div>

  <div class="col-12 mb-4">
    <div class="form-floating input-group">
      <%= text_field_tag :embed_player_iframe, embed_player_podcast_iframe(podcast, player_options), class: "form-control", disabled: true, autocomplete: "off" %>
      <%= label_tag :embed_player_iframe, t("helpers.label.episode.embed_player_iframe") %>
      <%= field_copy embed_player_podcast_iframe(podcast, player_options) %>
    </div>
  </div>

  <div class="col-12 mb-4">
    <h3 class="fw-bold"><%= t(".title.preview") %></h3>

    <%= embed_player_podcast_iframe(podcast, player_options, true) %>
  </div>

<% end %>
