<div class="col-12 mb-4">
  <div class="form-floating">
    <div class="form-control d-flex align-items-center is-invalid">
      <span class="material-icons text-primary mx-2">audio_file</span>

      <div class="text-secondary mx-2 flex-grow-1"><%= content.file_name %></div>
      <small class="text-muted">(<%= number_to_human_size(content.file_size) %>)</small>

      <%= link_to edit_episode_path(content.episode, uploads_destroy_params(form)), class: "btn" do %>
        <span class="material-icons">delete</span>
      <% end %>
    </div>

    <div class="invalid-feedback"><%= upload_invalid_messages(content) || t(".feedback") %></div>

    <label class="is-invalid"><%= episode_media_label(content) %></label>
  </div>
</div>
