<div class="col-12 mb-4" data-controller="upload" data-upload-disable-outlet="form">

  <%# step 0: destroying content (will be nulled out if we actually replace it) %>
  <%= form.hidden_field :id, data: {upload_target: "replace"} %>
  <%= form.hidden_field :_destroy, value: true, data: {upload_target: "replace"} %>

  <%# step 1: file field %>
  <div class="form-floating" data-upload-target="picker">
    <% cls = "form-control position-absolute opacity-0 z-1" %>
    <% data = {action: "change->unsaved#change upload#upload", upload_target: "field"} %>
    <% data[:unsaved_target] = "changed" if content.marked_for_destruction? %>

    <%# NOTE: name is nil, so we don't submit the actual file to Rails %>
    <%= form.file_field :audio_file, class: cls, accept: "audio/*", name: nil, data: data %>

    <%# fake display field; real text area is opacity-0 on top of it %>
    <% invalid_msg = upload_invalid_messages(content) %>
    <% fake_cls = "form-control d-flex align-items-center" %>
    <% fake_cls += " is-changed" if content.marked_for_destruction? %>
    <% fake_cls += " is-invalid" if invalid_msg %>
    <div class="<%= fake_cls %>">
      <span class="material-icons text-primary ms-2">upload</span>
      <div class="text-secondary mx-2">Upload a file</div>
    </div>

    <% if invalid_msg %>
      <div class="invalid-feedback"><%= invalid_msg %></div>
    <% end %>

    <%= form.label :audio_file, "Segment #{content.position}", class: "is-invalid" if invalid_msg %>
  </div>

  <%# step 2: upload progressbar %>
  <div class="form-floating d-none" data-upload-target="progress">
    <div class="form-control d-flex align-items-center is-changed">
      <span class="material-icons text-primary ms-2">upload</span>
      <div class="text-secondary mx-2" data-upload-target="fileName"></div>

      <div class="progress flex-grow-1 me-2">
        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-upload-target="progressBar">
          <span data-upload-target="progressBytes"></span>
        </div>
      </div>

      <button class="btn" data-action="upload#cancelUpload">
        <span class="material-icons">delete</span>
      </button>
    </div>

    <label>Segment <%= content.position %></label>
  </div>

  <%# step 3a: hidden original_url field pointing to the uploaded temporary s3 file %>
  <div class="form-floating d-none" data-upload-target="success">
    <%= form.hidden_field :original_url, value: nil, data: {upload_target: "originalUrl"} %>
    <%= form.hidden_field :file_size, value: nil, data: {upload_target: "fileSize"} %>
    <%= form.hidden_field :position %>

    <div class="form-control d-flex align-items-center is-changed">
      <span class="material-icons text-primary ms-2">audio_file</span>
      <div class="text-secondary mx-2 flex-grow-1" data-upload-target="fileName"></div>
      <small class="text-muted">(<span data-upload-target="fileSize"></span>)</small>

      <button class="btn" data-action="upload#cancelUpload">
        <span class="material-icons">delete</span>
      </button>
    </div>

    <label>Segment <%= content.position %></label>
  </div>

  <%# step 3b: something went horribly wrong! %>
  <div class="form-floating d-none" data-upload-target="error">
    <div class="form-control d-flex align-items-center is-invalid">
      <span class="material-icons text-primary mx-2">audio_file</span>
      <div class="text-secondary mx-2 flex-grow-1" data-upload-target="fileName"></div>
      <small class="text-muted">(<span data-upload-target="fileSize"></span>)</small>

      <button class="btn" data-action="upload#cancelUpload">
        <span class="material-icons">delete</span>
      </button>
    </div>

    <div class="invalid-feedback" data-upload-target="errorMessage"></div>

    <label class="is-invalid">Segment <%= content.position %></label>
  </div>

</div>
