<%= form.fields_for :uncut, episode.uncut || episode.build_uncut, include_id: false do |fields| %>
  <%= turbo_frame_tag "episode-media-uncut" do %>

    <div class="prx-uploads col-12 mb-4">
      <div class="card shadow border-0">
        <div class="card-header card-header-info d-flex justify-content-between">
          <h2 class="card-title h5"><%= t(".title.media") %></h2>
        </div>
        <div class="card-body pb-0">
          <%= render "episode_media/media/media", form: fields, episode: episode, media: fields.object %>
        </div>
      </div>
    </div>

    <% if fields.object.status_complete? %>
      <div class="col-12 mb-4">
        <div class="card shadow border-0">
          <div class="card-header card-header-warning d-flex justify-content-between align-items-center">
            <h2 class="card-title h5 flex-grow-1"><%= t(".title.segmenter") %></h2>

            <% if episode.contents.present? %>
              <button type="button" class="prx-btn-help" data-bs-toggle="modal" data-bs-target="#uncut-modal">
                <span class="material-icons">info</span>
              </button>
            <% end %>
          </div>
          <div class="card-body pb-0">
            <%= render "episode_media/segmenter/segmenter", episode: episode, uncut: fields.object, form: fields %>
          </div>
        </div>
      </div>
    <% end %>

  <% end %>
<% end %>

<%= render "episode_media/segmenter/modal", contents: episode.contents %>
