<div class="card shadow border-0 mb-4" data-morph="false">
  <div class="card-header-primary">
    <h2 class="card-title h5"><%= t(".title") %></h2>
  </div>
  <%= render "layouts/stale_record_field", form: form %>
  <div class="card-footer">
    <div class="d-flex align-items-center justify-content-end">
      <button type="button"
              class="btn btn-success me-2 <%= "d-none" if episode.medium_video? %>"
              data-bs-toggle="offcanvas"
              data-bs-target="#placements-preview-flyout"
              aria-controls="placements-preview-flyout"
              data-placement-preview-target="button">
        <%= t(".preview") %>
      </button>

      <% if policy(episode).update? %>
        <%= link_to t(".discard"), episode_media_path(episode), class: "btn btn-discard-changed d-none me-2", data: {action: "unsaved#discard", unsaved_target: "discard", turbo_frame: "_top"} %>

        <% data = {disable_with: t(".updating"), upload_with: t(".uploading")} %>
        <%= form.submit t(".update"), class: "btn btn-primary", data: data %>
      <% end %>
    </div>
    <% if episode_media_updated_at(episode).present? %>
      <p class="status-text mt-2 mb-0 text-end"><strong><%= t(".updated_at_hint") %>:</strong> <%= local_time_ago(episode_media_updated_at(episode)) %></p>
    <% end %>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="placements-preview-flyout" aria-labelledby="placements-preview-label">
  <div class="offcanvas-header">
    <h2 id="placements-preview-label mb-0"><%= t(".preview_title") %></h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <%= turbo_frame_tag "placements-preview", src: podcast_placements_preview_path(episode.podcast_id, episode.segment_count || 1), loading: "lazy", data: {placement_preview_target: "frame"} %>
  </div>
</div>
