<div class="col-12 mb-4">
  <div class="form-floating input-group" data-controller="dynamic-form">
    <%= form.select :medium, episode_medium_options, {}, data: {action: "dynamic-form#change"} %>
    <%= form.label :medium, required: true %>
    <%= field_help_text t(".help.medium") %>
    <a hidden href="<%= request.fullpath %>" data-dynamic-form-target="link"></a>
  </div>
</div>

<% if episode.medium_video? %>
  <%= form.hidden_field :segment_count, value: 1 %>
<% else %>
  <div class="col-12 mb-4">
    <div class="form-floating input-group" data-controller="dynamic-form">
      <%= form.number_field :ad_breaks, min: 0, max: Episode::MAX_SEGMENT_COUNT - 1, data: {action: "dynamic-form#change"} %>
      <%= form.label :ad_breaks, required: true %>
      <%= field_help_text t(".help.segment_count") %>
      <a hidden href="<%= request.fullpath %>" data-dynamic-form-target="link"></a>
    </div>
  </div>
<% end %>
