<%= turbo_frame_tag "episode-form-media" do %>
  <div class="col-12 mb-4">
    <div class="form-floating input-group" data-controller="dynamic-form">
      <%= form.select :medium, episode_medium_options, {}, data: {action: "dynamic-form#change"} %>
      <%= form.label :medium %>
      <%= field_help_text t(".help") %>
      <a hidden href="<%= request.fullpath %>" data-dynamic-form-target="link"></a>
    </div>
  </div>

  <%= turbo_frame_tag "episode-form-media-segments", data: {controller: "media-upload"} do %>
    <%= render "episode_media/media/segment_count", form: form, episode: episode %>

    <div class="prx-uploads col-12 mb-4">
      <div class="card shadow border-0">
        <div class="card-header card-header-info d-flex justify-content-between">
          <h2 class="card-title h5"><%= t(".title") %></h2>
        </div>
        <div class="card-body">
          <% if episode.medium_uncut? %>
            <%= render "episode_media/media/uncut", form: form, episode: episode %>
          <% else %>
            <%= render "episode_media/media/contents", form: form, episode: episode %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
