<% if podcast.persisted? %>
  <div class="card shadow border-0">
    <div class="card-header-info">
      <h5 class="card-title"><%= t(".title") %></h5>
    </div>

    <div class="card-body">
      <div class="row">

        <div class="col-12 mb-4">
          <div class="form-floating input-group">
            <%= form.text_field :id, disabled: true %>
            <%= form.label :id %>
            <%= field_copy podcast.id %>
          </div>
        </div>

        <div class="col-12 mb-4">
          <div class="form-floating input-group">
            <%= form.text_field :public_url, disabled: true %>
            <%= form.label :public_url %>
            <%= field_link podcast.public_url %>
            <%= field_help_text t(".help.public_url_html", url: podcast_feed_path(podcast, podcast.default_feed)) %>
          </div>
        </div>

        <div class="col-12">
          <div class="form-floating input-group">
            <%= form.text_field :link %>
            <%= form.label :link %>
            <%= field_link podcast.link if podcast.link.present? %>
            <%= field_help_text t(".help.link") %>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>
