<div class="col-12 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :title %>
    <%= form.label :title %>
    <%= field_help_text t(".help.title") %>
  </div>
</div>

<div class="col-12 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :subtitle %>
    <%= form.label :subtitle %>
    <%= field_help_text t(".help.subtitle") %>
  </div>
</div>

<div class="col-12 mb-4">
  <div class="card shadow border-0">
    <div class="card-header card-header-light d-flex justify-content-between">
      <h5 class="card-title flex-grow-1"><%= t("helpers.label.podcast.description") %></h5>
      <%= help_text t(".help.description") %>
    </div>
    <div class="card-body">
      <%= form.trix_editor :description %>
    </div>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating">
    <% data = {confirm_field_target: "field", confirm_with: t(".confirm.owner")} %>
    <%= form.select :prx_account_uri, podcast_account_name_options(podcast), {}, data: podcast.persisted? ? data : {} %>
    <%= form.label :prx_account_uri %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.select :explicit, podcast_explicit_options %>
    <%= form.label :explicit %>
    <%= field_help_text t(".help.explicit") %>
  </div>
</div>

<div class="col-6 mb-4">
  <%# HACK: display nested validation errors %>
  <% nested_errors = podcast.errors.full_messages_for("itunes_categories.name").join(", ") %>
  <% klass = nested_errors.present? ? "is-invalid form-select" : "form-select" %>

  <div class="form-floating input-group" data-controller="dynamic-form">
    <%= form.select :itunes_category, itunes_category_options, {include_blank: true}, class: klass, data: {action: "dynamic-form#change"} %>
    <% if nested_errors.present? %><div class="invalid-feedback"><%= nested_errors %></div><% end %>
    <%= form.label :itunes_category %>
    <%= field_help_text t(".help.itunes_category") %>
    <%# update subcategory turbo-frame when category changes %>
    <a hidden href="<%= new_podcast_path %>" data-dynamic-form-target="link" data-turbo-frame="itunes-subcategory"></a>
  </div>
</div>

<div class="col-6 mb-4">
  <%= turbo_frame_tag "itunes-subcategory" do %>
    <div class="form-floating">
      <% opts = itunes_subcategory_options(podcast.itunes_category) %>
      <%= form.select :itunes_subcategory, opts, {include_blank: true}, disabled: opts.blank? %>
      <%= form.label :itunes_subcategory %>
    </div>
  <% end %>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.select :serial_order, podcast_serial_order_options %>
    <%= form.label :serial_order %>
    <%= field_help_text t(".help.serial_order") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%# TODO: make this a select, but where to get the options? %>
    <%= form.text_field :language %>
    <%= form.label :language %>
    <%= field_help_text t(".help.language") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :owner_name %>
    <%= form.label :owner_name %>
    <%= field_help_text t(".help.owner_name") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :owner_email %>
    <%= form.label :owner_email %>
    <%= field_help_text t(".help.owner_email") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :author_name %>
    <%= form.label :author_name %>
    <%= field_help_text t(".help.author_name") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :author_email %>
    <%= form.label :author_email %>
    <%= field_help_text t(".help.author_email") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :managing_editor_name %>
    <%= form.label :managing_editor_name %>
    <%= field_help_text t(".help.managing_editor_name") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :managing_editor_email %>
    <%= form.label :managing_editor_email %>
    <%= field_help_text t(".help.managing_editor_email") %>
  </div>
</div>

<div class="col-6 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :copyright %>
    <%= form.label :copyright %>
    <%= field_help_text t(".help.copyright") %>
  </div>
</div>

<div class="col-6 mb-4 d-flex align-items-center">
  <div class="form-check">
    <% data = {confirm_field_target: "field", confirm_with: t(".confirm.complete")} %>
    <%= form.check_box :complete, data: podcast.complete? ? {} : data %>
    <div class="d-flex align-items-center">
      <%= form.label :complete %>
      <%= help_text t(".help.complete") %>
    </div>
  </div>
</div>

<div class="col-12 mb-4">
  <%= render "form_itunes_image", podcast: podcast, form: form %>
</div>

<div class="col-12 mb-4">
  <%= render "form_feed_image", podcast: podcast, form: form %>
</div>
