<div class="prx-podcast card">
  <div class="d-flex g-2 p-3 align-items-center">
    <div class="card-image">
      <% if podcast.ready_image %>
        <%= image_tag(podcast.ready_image.url, width: 80, alt: podcast.ready_image.alt_text, class: "d-flex") %>
      <% end %>
    </div>
    <div class="card-body flex-grow-1 ">
      <h2 class="card-title"><%= podcast.title %></h2>
      <p class="card-text m-0 lh-xs fs-sm">
        <%= t(".published_episodes", count: @published_episodes_counts[podcast.id].to_i) %> |
        <%= t(".scheduled_episodes", count: @scheduled_episodes_counts[podcast.id].to_i) %> |
        <%= t(".drafted_episodes", count: @drafted_episodes_counts[podcast.id].to_i) %>
      </p>
      <%= link_to "Go to Podcast", podcast_path(podcast), class: "card-link" %>
    </div>
    <div class="card-footer d-grid g-1 lh-sm fs-sm text-end">
      <strong><%= t(".last_saved") %></strong>
      <datetime><%= local_time_ago(podcast.updated_at) %></datetime>
    </div>
  </div>
</div>
