<div id="<%= dom_id podcast %>" class="d-flex align-items-center flex-fill my-4">
  <div>
    <% if podcast.feed_image %>
      <%= image_tag(podcast.feed_image.url, width: 135, alt: podcast.feed_image.alt_text, class: "d-flex me-4") %>
    <% end %>
  </div>
  <div class="flex-fill">
    <h1 class="fw-bold lh-1"><%= podcast.title %></h1>
    <%= podcast.subtitle %>
  </div>

  <div class="card shadow card-body">

  <h5 class="text-black fw-bold me-4 mb-0"><%= podcast.title %></h5>
  <p class="card-text text-small">
    <%= podcast.episodes.published.count %> Published Episodes |
    <%= podcast.episodes.scheduled.count %> Scheduled |
    <%= podcast.episodes.draft.count %> Drafts
  </p>
  <div class="prx-podcast-card-status">
    <div class="text-end">
      <h5 class="text-end">Latest Activity</h5>
      <span class="text-end"> <%= podcast.updated_at.strftime("%-m/%-d/%Y, %-l:%M %p") %></span>
      <p>
      <%= link_to "Look at this dog", new_podcast_path, class: "stretched-link" %>
    </p>
    </div>
  </div>
</div>
</div>
