<div class="container">
  <div class="row mb-4 justify-content-between">
    <div class="col ps-0 pe-2">
      <div class="card shadow">
        <div class="card-body py-2">
          <%= turbo_frame_tag "score_card_daterange", src: score_card_podcast_metrics_path(podcast_id: podcast.id, score_type: "daterange"), loading: "lazy" do %>
            <%= render "metrics/loading_card", justify_dir: "start" %>
          <% end %>
          <h6 class="text-uppercase m-0"><%= t(".downloads")%></h6>
          <h6 class="text-uppercase m-0"><%= t(".last_28")%></h6>
        </div>
      </div>
    </div>
    <div class="col px-2">
      <div class="card shadow">
        <div class="card-body py-2">
          <%= turbo_frame_tag "score_card_alltime", src: score_card_podcast_metrics_path(podcast_id: podcast.id, score_type: "alltime"), loading: "lazy" do %>
            <%= render "metrics/loading_card", justify_dir: "start" %>
          <% end %>
          <h6 class="text-uppercase m-0"><%= t(".downloads")%></h6>
          <h6 class="text-uppercase m-0"><%= t(".alltime")%></h6>
        </div>
      </div>
    </div>
    <div class="col pe-0 ps-2">
      <div class="card shadow">
        <div class="card-body py-2">
          <%= turbo_frame_tag "score_card_episodes", src: score_card_podcast_metrics_path(podcast_id: podcast.id, score_type: "episodes"), loading: "lazy" do %>
            <%= render "metrics/loading_card", justify_dir: "start" %>
          <% end %>
          <h6 class="text-uppercase m-0"><%= t(".episodes")%></h6>
          <h6 class="text-uppercase m-0"><%= t(".alltime")%></h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col ps-0 pe-2">
      <div class="card shadow">
        <div class="col">
          <div class="card-header d-flex justify-content-between align-items-center">
            <span class="h4 fw-bold mb-0"><%= t(".episode_downloads")%></span>
            <span><%= t(".last_28")%></span>
          </div>
          <div class="card-body metrics-card-body">
            <%= turbo_frame_tag "episodes", src: episodes_podcast_metrics_path(podcast_id: podcast.id), loading: "lazy" do %>
              <%= render "metrics/loading_card" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col pe-0 ps-2">
      <div class="card shadow">
        <div class="col">
          <div class="card-header d-flex justify-content-between align-items-center">
            <span class="h4 fw-bold mb-0"><%= t(".monthly")%></span>
            <span><%= t(".past_year")%></span>
          </div>
          <div class="card-body metrics-card-body">
            <%= turbo_frame_tag "monthly_downloads", src: monthly_downloads_podcast_metrics_path(podcast_id: podcast.id), loading: "lazy" do %>
              <%= render "metrics/loading_card" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
