<% content_for :title, "My Podcasts" %>

<p style="color: green"><%= notice %></p>

<h1>My Podcasts</h1>

<a class="btn btn-light btn-sm dropdown-toggle" id=type="button" data-bs-toggle="dropdown">
  Sort <span class="material-icons" aria-hidden="true">sort</span>
  <ul class="dropdown-menu"><a class="dropdown-item active" href="<%= podcasts_path(sort: "Recent") %>">Recent Activity</a></li>
    <li><%= link_to "# of Episodes", podcasts_path, class: "dropdown-item" %></li>
    <li><%= link_to "A-Z", podcasts_path(sort: "A-Z"), class: "dropdown-item" %></li>
    <li><%= link_to "Z-A", podcasts_path(sort: "Z-A"), class: "dropdown-item" %></li>
  </ul>
</a>

<div id="podcasts">
<%= render "podcast_page" %>
</div>

<%= link_to "New podcast", new_podcast_path %>
