<% content_for :title, t(".title") %>

<%= turbo_frame_tag "podcasts", data: {controller: "morphdom"} do %>

  <%= render "podcast_filters" %>

  <section class="container">
    <div class="col-lg-12">
      <div class="dashboard-list mb-4 shadow">
        <%= render partial: "podcasts/podcast", collection: @podcasts, cached: true %>
      </div>
    </div>

    <div class="my-4">
      <%= paginate @podcasts %>
      <%= page_entries_info @podcasts %>
    </div>
  </section>
<% end %>
