<% content_for :title, t(".title") %>

<%= turbo_frame_tag "podcasts", data: {controller: "morphdom"} do %>

  <%= render "podcast_filters" %>

  <section class="col-lg-12">
    <div class="dashboard-list mb-4 shadow">
      <%= render partial: "podcasts/podcast_page", collection: @podcasts, as: :podcast, cached: true %>
    </div>
  </section>

  <%= paginate @podcasts, window: 2, outer_window: 1 %>
  <%= page_entries_info @podcasts %>
<% end %>

<%= link_to main_app.new_podcast_path, class: "btn btn-success btn-fab"  do %>
  <span class="material-icons">add</span> <%= t(".create") %>
<% end %>
