<% content_for :title, "My Podcasts" %>

<p style="color: green"><%= notice %></p>
<div class="row mt-4 mb-4">
  <div class="dashboard header">
    <div class="col d-flex align-items-center">
      <h1 class="text-black fw-bold me-4 mb-4"><%= t(".my_podcasts") %></h1>

      <div class="mb-4">
      <button class="btn btn-outline-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="sort by">
        <span class="material-icons" style="color: green" aria-hidden="true">sort</span>

        <% if params[:sort] == 'episode_count' %>
          <span class="material-icons" aria-hidden="true" aria-label="Number of Episodes">123</span>
        <% elsif params[:sort] == 'A-Z' %>
          <span aria-hidden="true" aria-label="A to Z">A-Z</span>
        <% elsif params[:sort] == 'Z-A' %>
          <span aria-hidden="true" aria-label="Z to A">Z-A</span>
        <% else %>
          <span class="material-icons" aria-hidden="true" aria-label="Recent Activity">timer</span>
        <% end %>

      </button>
      <ul class="dropdown-menu"">
        <li><%= active_link_to "Recent Activity", podcasts_path(sort: "Recent Activity"), active: :exact, class: "dropdown-item" %></li>
        <li><%= active_link_to "# of Episodes", podcasts_path(sort: "episode_count"), active: :exact, class: "dropdown-item" %></li>
        <li><%= active_link_to "A-Z", podcasts_path(sort: "A-Z"), active: :exact, class: "dropdown-item" %></li>
        <li><%= active_link_to "Z-A", podcasts_path(sort: "Z-A"), active: :exact, class: "dropdown-item" %></li>
      </ul>
    </div>
  </div>
</div>

<%= form_with(
      url: podcasts_path,
      method: :get,
      data: {
        controller: "search"
      }
    ) do |form| %>

<div class="">
  <%= form.search_text_field :q, params, autofocus: true, class: "form-control form-control-sm", placeholder: "Search" %>
  <%= form.label :q, "Search", class: "visually-hidden" %>
</div>

  <%= form.hidden_field :sort, value: params[:sort] %>

<%= form.submit class: "d-none", data: {search_target: "submit"} %>
<% end %>

<div id=" podcasts ">
  <section class=" col-lg-12 ">
    <div class=" dashboard-list mb-4 shadow ">
      <% @podcasts.each do |podcast| %>
        <%= render "podcast_page", podcast: podcast %>
       <% end %>
        <div class=" mt-2 ">
      </div>
    </div>
  </section>

  <%= paginate @podcasts, window: 2, outer_window: 1 %>
  <%= page_entries_info @podcasts %>
</div>
