<p style="color: green"><%= notice %></p>
<div class="container m-4">
  <div class="row">
    <%= render @podcast %>
    <div class="col-sm-5 d-flex align-items-center justify-content-end">
      <%= link_to new_episode_path, class: "btn btn-primary btn-sm d-flex align-items-center m-2" do %>
        <%= t ".create_episode" %>
        <span class="material-icons ms-2" aria-hidden="true">mic</span>
      <% end %>
      <%= link_to podcast_path(@podcast.id), class: "btn btn-primary btn-sm d-flex align-items-center" do %>
        <%= t ".plan_episodes" %>
        <span class="material-icons ms-2" aria-hidden="true">calendar_today</span>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="card shadow">
        <div class="card-header">
          <h1 class="card-title h5"><%= t ".latest_published" %></h1>
          <%= link_to podcast_episodes_path(@podcast.id), class: "btn btn-primary" do %>
            <%= t ".all_episodes" %>
            <span class="material-icons" aria-label="hidden">keyboard_arrow_right</span>
          <% end %>
        </div>
        <div class="card-body">
          <% if @recently_published.present? %>
            <div class="row">
              <p><%= @recently_published.published_at.to_date %></p>
              <div>
                <h2 class="h5"><%= link_to @recently_published.title, episode_path(@recently_published.id) %></h2>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card shadow">
        <div class="card-header">
          <h1 class="card-title h5"><%= t ".next_scheduled" %></h1>
        </div>
        <div class="card-body">
          <% if @next_scheduled.present? %>
            <div class="row">
              <p><%= @next_scheduled.released_at.to_date %></p>
              <div>
                <h2 class="h5"><%= link_to @next_scheduled.title, episode_path(@next_scheduled.id) %></h2>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card shadow">
        <div class="card-body">
          <p>Metrics Placeholder</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card shadow">
        <div class="card-header">
          <h1 class="card-title h5"><%= t ".feeds" %></h1>
          <%= link_to podcast_feeds_path(@podcast.id), class: "btn btn-primary" do %>
            <%= t ".manage_feeds" %>
            <span class="material-icons" aria-label="hidden">keyboard_arrow_right</span>
          <% end %>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= link_to (t ".default_feed"), @podcast.default_feed %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card shadow">
        <div class="card-header">
          <h1 class="card-title h5"><%= t ".settings" %></h1>
          <%= link_to edit_podcast_path(@podcast.id), class: "btn btn-primary" do %>
            <%= t ".manage_settings" %>
            <span class="material-icons" aria-label="hidden">keyboard_arrow_right</span>
          <% end %>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= link_to (t ".engagement_settings"), podcast_engagement_path(@podcast.id) %></li>
            <li class="list-group-item"><%= link_to (t ".import"), podcast_imports_path(@podcast.id) %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
