<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<div class="container my-4">
  <div class="d-grid d-sm-flex align-items-center">
    <%= render @podcast %>
    <div class="d-grid d-lg-flex gap-2 align-items-center">
      <%= link_to new_episode_path, class: "btn btn-primary btn-sm" do %>
        <%= t ".create_episode" %>
        <span class="material-icons ms-2" aria-hidden="true">mic</span>
      <% end %>
      <%= link_to podcast_path(@podcast.id), class: "btn btn-primary btn-sm" do %>
        <%= t ".plan_episodes" %>
        <span class="material-icons ms-2" aria-hidden="true">calendar_today</span>
      <% end %>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-lg-4 mb-4 mb-lg-0">
      <div class="card shadow mb-4">
        <div class="card-header d-flex gap-4 align-items-center">
          <h1 class="h5 episode-card-title fw-bold flex-fill"><%= t ".latest_published" %></h1>
          <%= link_to podcast_episodes_path(@podcast.id), class: "btn btn-primary btn-sm" do %>
            <%= t ".all_episodes" %>
            <span class="material-icons" aria-label="hidden">keyboard_arrow_right</span>
          <% end %>
        </div>
        <div class="card-body episode-card h-auto border-start-0">
          <% if @recently_published.present? %>
            <div class="episode-card-info">
              <p class="episode-card-date"><%= @recently_published.published_at.to_date.strftime("%m/%d") %></p>
              <div>
                <h2 class="h5 episode-card-title"><%= link_to @recently_published.title, episode_path(@recently_published.id) %></h2>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card shadow">
        <div class="card-header d-flex align-items-center">
          <h1 class="h5 episode-card-title fw-bold flex-fill"><%= t ".next_scheduled" %></h1>
        </div>
        <div class="card-body episode-card h-auto border-start-0">
          <% if @next_scheduled.present? %>
            <div class="episode-card-info">
              <p class="episode-card-date"><%= @next_scheduled.released_at.to_date.strftime("%m/%d") %></p>
              <div>
                <h2 class="h5 episode-card-title"><%= link_to @next_scheduled.title, episode_path(@next_scheduled.id) %></h2>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-8 d-grid">
      <div class="card shadow">
        <div class="card-body">
          <p>Metrics Placeholder</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 d-grid mb-4 mb-lg-0">
      <div class="card shadow">
        <div class="card-header d-flex align-items-center">
          <h1 class="h5 episode-card-title fw-bold flex-fill"><%= t ".feeds" %></h1>
          <%= link_to podcast_feeds_path(@podcast.id), class: "btn btn-primary btn-sm" do %>
            <%= t ".manage_feeds" %>
            <span class="material-icons" aria-label="hidden">keyboard_arrow_right</span>
          <% end %>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= link_to (t ".default_feed"), @podcast.default_feed %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-6 d-grid">
      <div class="card shadow">
        <div class="card-header d-flex align-items-center">
          <h1 class="h5 episode-card-title fw-bold flex-fill"><%= t ".settings" %></h1>
          <%= link_to edit_podcast_path(@podcast.id), class: "btn btn-primary btn-sm" do %>
            <%= t ".manage_settings" %>
            <span class="material-icons" aria-label="hidden">keyboard_arrow_right</span>
          <% end %>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item border-bottom-0"><%= link_to (t ".engagement_settings"), podcast_engagement_path(@podcast.id) %></li>
            <li class="list-group-item"><%= link_to (t ".import"), podcast_imports_path(@podcast.id) %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
