<div class="card prx-uploads">
  <div class="card-header-info d-flex justify-content-between align-items-center">
    <h5 class="card-title"><%= t(".title") %></h5>

    <%= link_to delete_path, class: "btn btn-icon p-0" do %>
      <span class="material-icons">delete</span>
    <% end %>
  </div>

  <div class="card-body">
    <div class="prx-uploads-image mb-4">
      <%= image_tag image.url, alt: image.alt_text %>

      <% if image.height.present? && image.width.present? %>
        <aside><%= image.height %>x<%= image.width %></aside>
      <% end %>
    </div>

    <%= form.hidden_field :id %>
    <%= render "images/meta", form: form %>
  </div>
</div>
