<div class="col mb-4" data-morph="false">
  <div class="form-floating">
    <%= form.text_field :caption %>
    <%= form.label :caption %>
  </div>
</div>

<div class="col mb-4" data-morph="false">
  <div class="form-floating">
    <%= form.text_field :credit %>
    <%= form.label :credit %>
  </div>
</div>

<div class="col mb-2" data-morph="false">
  <div class="form-floating">
    <%= form.text_field :alt_text %>
    <%= form.label :alt_text %>
  </div>
</div>
