<div class="prx-header-bar navbar navbar-dark align-items-stretch p-0 bg-primary-dark">
  <div class="container-fluid align-items-stretch pe-0">
    <header class="flex-grow-1 d-flex align-items-center">
      <%= link_to image_tag("dovetail_logo.svg", width: 152, height: 30, alt: "Dovetail from PRX"), main_app.root_path, class: "navbar-brand d-inline-flex" %>
    </header>

    <nav class="navbar-nav d-none d-md-flex flex-row align-items-stretch">
      <h2 class="visually-hidden">Your Applications</h2>

      <%= link_to t(".feeder"), main_app.root_path, class: "nav-link active" %>

      <% if current_user_app?("metrics") %>
        <%= link_to t(".metrics"), current_user_app("metrics"), class: "nav-link" %>
      <% end %>

      <% if current_user_app?("augury") %>
        <%= link_to t(".augury"), current_user_app("augury"), class: "nav-link" %>
      <% end %>
    </nav>

    <nav class="navbar-nav dropdown">
      <h2 class="visually-hidden">Help Menu</h2>
      <a class="nav-link nav-link-icon dropdown-toggle" href="#" id="nav-help-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="material-icons align-middle">help</span>
      </a>
      <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark position-absolute shadow m-0" aria-labelledby="nav-help-dropdown">
        <%= link_to t(".help"), "https://help.prx.org", class: "dropdown-item" %>
        <%= link_to t(".status"), "https://status.prx.org", class: "dropdown-item" %>
        <%= link_to t(".terms"), "https://exchange.prx.org/terms-of-use", class: "dropdown-item" %>
        <%= link_to t(".attribution"), "https://dovetail.prx.org/attribution", class: "dropdown-item" %>
        <%= link_to t(".privacy"), "https://exchange.prx.org/privacy-policy", class: "dropdown-item" %>
        <%= link_to t(".home"), "https://prx.org/", class: "dropdown-item" %>
      </div>
    </nav>

    <% if current_user %>
      <nav class="navbar-nav dropdown">
        <h2 class="visually-hidden">User Menu</h2>
        <a class="nav-link nav-link-icon dropdown-toggle" href="#" id="nav-user-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="min-width:46px">
          <% if current_user_image? %>
            <img src="<%= current_user_image %>" class="prx-header-nav-avatar" alt="<%= current_user_name %>'s avatar">
          <% else %>
            <span class="material-icons align-middle" aria-label="<%= t(".account") %>">account_circle</span>
          <% end %>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark position-absolute shadow pb-2 text-center m-0" aria-labelledby="nav-user-dropdown">
          <div class="h2 py-3 px-4 text-nowrap"><%= current_user_name %></div>
          <%= link_to t(".id"), current_user_id_profile, class: "btn btn-primary-light mb-2" %>
          <%= link_to "Reload", main_app.refresh_path, data: {turbo: false}, class: "dropdown-item text-primary-light" %>
          <%= link_to "Logout", main_app.logout_path, data: {turbo: false}, class: "dropdown-item text-primary-light" %>
        </div>
      </nav>
    <% end %>
  </div>
</div>
