  <nav class="prx-dovetail-nav navbar navbar-expand-sm navbar-dark m-0 p-0">
    <div class="container-fluid pe-0">
      <a class="navbar-brand" href="/">Dovetail</a>
      <ul class="navbar-nav d-flex justify-content-end align-items-center">
        <li class="nav-item">
          <a class="nav-link active" href="/">Podcasts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://augury.prx.org">Inventory</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-icons align-middle">help</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="https://help.prx.org/">Help Docs</a></li>
            <li><a class="dropdown-item" href="http://status.prx.org/">Status</a></li>
            <li><a class="dropdown-item" href="https://exchange.prx.org/terms-of-use">Terms</a></li>
            <li><a class="dropdown-item" href="https://dovetail.prx.org/attribution">Attribution</a></li>
            <li><a class="dropdown-item" href="https://exchange.prx.org/privacy-policy">Privacy</a></li>
            <li><a class="dropdown-item" href="https://prx.org">PRX</a></li>
          </ul>
        </li>
        <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if current_user_image_url.present? %>
              <img src="<%= current_user_image_url %>" class="nav-avatar" alt="<%= current_user_name %>'s avatar" />
            <% else %>
              <span class="material-icons align-middle" aria-label="PRX Account">account_circle</span>
            <% end %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="navbarDropdown">
            <li class="dropdown-username text-center"><%= current_user_name %></li>
            <li class="text-center">
              <a class="dropdown-button btn btn-info" href="https://id.prx.org/profile">Manage Account</a>
            </li>
            <li class="text-center">
              <%= link_to 'Reload', main_app.refresh_path, data: { turbo: false }, class: 'dropdown-link' %>
            </li>
            <li class="text-center">
              <%= link_to 'Logout', main_app.logout_path, data: { turbo: false }, class: 'dropdown-link' %>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li class="dropdown-header text-center">My PRX Apps</li>
            <% current_user_apps.each do |name, url| %>
              <li><%= link_to name, url, class: 'dropdown-item' %></li>
            <% end %>
            </li>
          </ul>
        </li>
         <% end %>
      </ul>
    </div>
  </nav>
