<nav class="prx-app-nav navbar bg-white d-flex flex-row flex-wrap justify-content-start m-0 p-0">

  <%= render "layouts/switcher" %>

  <% if @podcast %>
    <ul class="navbar-nav col d-flex flex-row flex-wrap m-0 p-0">
      <li class="nav-item"><%= active_link_to "Podcast", main_app.podcast_path(@podcast), active: :exact, class: "nav-link" %></li>
      <li class="nav-item"><%= active_link_to "Settings", main_app.edit_podcast_path(@podcast), class: "nav-link" %></li>
      <li class="nav-item"><%= active_link_to "Episodes", main_app.fake_index_path, class: "nav-link" %></li>
      <li class="nav-item"><%= active_link_to "Feeds", main_app.fake_index_path, class: "nav-link" %></li>
    </ul>
  <% end %>
</nav>
