<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : "Feeder" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= uploads_meta_tags %>

    <link rel="icon" href="https://media.prx.org/favicon/icon-32.ico" sizes="any">
    <link rel="icon" href="https://media.prx.org/favicon/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="https://media.prx.org/favicon/icon-180.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="blank-field popover">
    <%= render "layouts/nav" %>
    <%= render "layouts/subnav" if current_user %>

    <%= render "layouts/alerts" %>

    <% if content_for? :tabs %>
      <div class="prx-main | container-fluid d-grid">
        <div class="row">
          <aside class="prx-tabs | d-flex flex-column justify-content-between col-sm-12 col-md-3 col-xl-2">
            <nav class="prx-tabs-nav | nav nav-tabs flex-column bg-white">
              <%= yield :tabs %>
            </nav>
            <% if content_for? :actions %>
              <nav class="prx-tabs-actions | d-grid gap-3 px-2 py-3">
                <%= yield :actions %>
              </nav>
            <% end %>
          </aside>
          <main class="prx-tab-content | col-sm-12 col-md-9 col-xl-10 bg-white"><%= yield %></main>
        </div>
      </div>
    <% else %>
      <main class="prx-main | container-xl">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
