<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : "Feeder" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path("favicon.ico") %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <%= render 'layouts/subnav' %>

    <% if content_for :tabs %>
      <div class="container-fluid">
        <div class="row">
          <aside class="sidetabs col-2"><%= yield :tabs %></aside>
          <section class="tab-content col-10 bg-white"><%= yield %></section>
        </div>
      </div>
    <% else %>
      <div class="container-xl">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
